.content-navigation {
  @apply text-body-compact-02 
    sticky 
    top-0 
    bg-[var(--par-color-bg-content-navigation)] 
    p-4;
}

.content-navigation-list {
  @apply m-0 
    list-none 
    p-0;

  li {
    @apply m-0 
      w-fit 
      p-0;
  }
}

.content-navigation-item {
  @apply text-body-compact-02 
    relative 
    ml-6 
    h-8 
    cursor-pointer 
    overflow-visible 
    px-4 
    font-medium 
    text-[var(--par-color-text-content-navigation-enabled)]
    transition-colors 
    duration-300 
    ease-out;

  &::before {
    @apply absolute 
      -left-px 
      top-0 
      h-full 
      w-px 
      bg-[var(--par-color-border-content-navigation-enabled)] 
      content-[''];
  }

  &:focus-visible {
    @apply z-[1] 
      rounded-md 
      -outline-offset-0 
      before:!bg-transparent;
  }

  &:not(.content-navigation-item-active):hover {
    @apply text-[var(--par-color-text-content-navigation-hovered)];
  }

  &:not(.content-navigation-item-active):active {
    @apply text-[var(--par-color-text-content-navigation-pressed)];
  }
}

.content-navigation-item-heading {
  @apply text-heading-compact-02 
    m-0 
    h-fit 
    border-none 
    px-5 
    py-2 
    font-medium
    before:!bg-transparent;
}

.content-navigation-item-active {
  @apply text-[var(--par-color-text-content-navigation-neutral-selected)] 
    before:w-0.5 
    before:bg-[var(--par-color-border-content-navigation-active-neutral)];
}

.content-navigation.accent .content-navigation-item-active {
  @apply text-[var(--par-color-text-content-navigation-accent-selected)]
    before:w-0.5 
    before:bg-[var(--par-color-border-content-navigation-active-accent)];
}

.content-navigation-item-text {
  @apply truncate;
}
