:root,
[data-scheme='light'] {
  /* TEXT */
  --par-color-text-content-navigation-enabled: var(--par-gray-500);
  --par-color-text-content-navigation-hovered: var(--par-gray-600);
  --par-color-text-content-navigation-pressed: var(--par-gray-950);
  --par-color-text-content-navigation-neutral-selected: var(--par-neutral-950);
  --par-color-text-content-navigation-accent-selected: var(--par-accent-550);

  /* BORDER */
  --par-color-border-content-navigation-enabled: var(--par-gray-200);
  --par-color-border-content-navigation-active-neutral: var(--par-neutral-950);
  --par-color-border-content-navigation-active-accent: var(--par-accent-550);

  /* BG */
  --par-color-bg-content-navigation: var(--par-transparent);
}

[data-scheme='dark'] {
  /* TEXT */
  --par-color-text-content-navigation-enabled: var(--par-gray-300);
  --par-color-text-content-navigation-hovered: var(--par-gray-200);
  --par-color-text-content-navigation-pressed: var(--par-white);
  --par-color-text-content-navigation-neutral-selected: var(--par-white);
  --par-color-text-content-navigation-accent-selected: var(--par-accent-200);

  /* BORDER */
  --par-color-border-content-navigation-enabled: var(--par-gray-600);
  --par-color-border-content-navigation-active-neutral: var(--par-white);
  --par-color-border-content-navigation-active-accent: var(--par-accent-200);

  /* BG */
  --par-color-bg-content-navigation: var(--par-transparent);
}
