/* Base Avatar */
.avatar {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  border-radius: 9999px; /* full rounded */
  background-color: var(--par-color-bg-avatar);
  border: 2px solid var(--par-color-border-avatar);
}

.avatar-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.avatar-initials {
  color: var(--par-color-text-avatar);
  font-weight: 500;
}

.avatar-placeholder {
  display: flex;
  width: 66.666667%;
  height: 66.666667%;
  align-items: center;
  justify-content: center;
  color: var(--par-color-text-avatar);
}

.avatar.disabled {
  background-color: var(--par-color-bg-avatar-disabled);
  color: var(--par-color-text-avatar-disabled);
}

.avatar.disabled .avatar-img {
  opacity: 0.5;
}

.avatar.border-alternative {
  border-color: var(--par-color-border-avatar-alternative);
}

.avatar.border-none {
  border: none;
}

/* Status Indicators */
.avatar-status-dot {
  position: absolute;
  bottom: 0;
  right: 0;
  border-radius: 9999px;
  width: 30%;
  height: 30%;
}

.avatar-status-dot.pulse::before {
  content: '';
  position: absolute;
  display: inline-flex;
  height: 100%;
  width: 100%;
  border-radius: 9999px;
  background: inherit;
  opacity: 0.75;
  animation: ping 1.5s cubic-bezier(0, 0, 0.2, 1) infinite;
}

@keyframes ping {
  75%,
  100% {
    transform: scale(2);
    opacity: 0;
  }
}

.avatar-status-dot.gray {
  background-color: var(--par-color-bg-dot-solid-gray);
}

.avatar-status-dot.orange {
  background-color: var(--par-color-bg-dot-solid-orange);
}

.avatar-status-dot.violet {
  background-color: var(--par-color-bg-dot-solid-violet);
}

.avatar-status-dot.green {
  background-color: var(--par-color-bg-dot-solid-green);
}

.avatar-status-dot.red {
  background-color: var(--par-color-bg-dot-solid-red);
}

.avatar-status-dot.yellow {
  background-color: var(--par-color-bg-dot-solid-yellow);
}

.avatar-status-dot.blue {
  background-color: var(--par-color-bg-dot-solid-blue);
}

.avatar-status-dot.lime {
  background-color: var(--par-color-bg-dot-solid-lime);
}

.avatar-status-dot.cyan {
  background-color: var(--par-color-bg-dot-solid-cyan);
}

/* Status Border */
.avatar.status-border {
  border-color: var(--avatar-status-color);
}

/* Avatar sizes */
.avatar.\32xs {
  height: 1rem;
  width: 1rem;
  border-width: 1px;
}

.avatar.\32xs .avatar-status-dot {
  bottom: 0;
  right: 0;
  width: 1.5px;
  height: 1.5px;
}

.avatar.\32xs .avatar-initials {
  font-size: 0.5rem;
}

.avatar.xs {
  height: 1.25rem;
  width: 1.25rem;
  border-width: 1px;
}

.avatar.xs .avatar-status-dot {
  bottom: 0;
  right: 0;
  width: 2px;
  height: 2px;
}

.avatar.xs .avatar-initials {
  font-size: 0.625rem;
}

.avatar.sm {
  height: 1.5rem;
  width: 1.5rem;
  border-width: 1px;
}

.avatar.sm .avatar-status-dot {
  bottom: 0;
  right: 0;
  width: 3px;
  height: 3px;
}

.avatar.sm .avatar-initials {
  font-size: 0.75rem;
}

.avatar.md {
  height: 2rem;
  width: 2rem;
}

.avatar.md .avatar-initials {
  font-size: 1rem;
}

.avatar.lg {
  height: 2.5rem;
  width: 2.5rem;
}

.avatar.lg .avatar-initials {
  font-size: 1.25rem;
}

.avatar.xl {
  height: 3rem;
  width: 3rem;
}

.avatar.xl .avatar-initials {
  font-size: 1.5rem;
}

/* Avatar Trigger */
.avatar-trigger {
  cursor: pointer;
  background-color: var(--par-color-bg-avatar-trigger);
  transition-property: opacity;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.avatar-trigger:hover {
  opacity: 0.8;
}

.avatar-trigger.active {
  box-shadow:
    0 0 0 2px var(--par-color-bg-avatar),
    0 0 0 4px var(--par-color-bg-avatar);
}

/* Avatar Group */
.avatar-group {
  display: flex;
}

.avatar-group.direction-row {
  flex-direction: row;
}

.avatar-group.direction-column {
  flex-direction: column;
}

.avatar-group-item {
  border: 2px solid var(--par-color-border-avatar);
}

.avatar-group.direction-row .avatar-group-item:not(:first-child) {
  margin-left: var(--avatar-group-spacing);
}

.avatar-group.direction-column .avatar-group-item:not(:first-child) {
  margin-top: var(--avatar-group-spacing);
}

.avatar-group-overflow {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--par-color-bg-avatar);
}

.avatar-overflow-text {
  color: var(--par-color-text-avatar);
  font-weight: 500;
  font-size: 0.875rem;
}
