/* base */
.switch {
  @apply relative box-border shrink-0 cursor-pointer rounded-full -outline-offset-2 transition-colors duration-300;
}

.switch:disabled {
  @apply cursor-not-allowed;
}

.switch .switch-target-wrapper {
  @apply absolute left-px top-1/2 -translate-y-1/2 overflow-visible transition-transform duration-300;
}

.switch .switch-target {
  @apply absolute left-1/2 top-1/2 flex h-full w-full -translate-x-1/2 -translate-y-1/2 items-center justify-center rounded-full transition-transform duration-300;
}

.switch:enabled .switch-target {
  @apply bg-[var(--par-color-bg-switch-target-handle)];
}

.switch:disabled .switch-target {
  @apply bg-[var(--par-color-bg-switch-target-handle-disabled)];
}

.switch .switch-target .switch-icon {
  @apply transition-colors duration-300 ease-in-out;
}

/* color */

.switch:enabled[aria-checked='false'] {
  @apply border border-[var(--par-color-border-switch-unchecked)] bg-[var(--par-color-bg-switch-target-track-uncheck)];
}

.switch:enabled[aria-checked='false'] .switch-target .switch-icon {
  @apply text-[var(--par-color-text-switch-target-unchecked-enabled)];
}

.switch:enabled[aria-checked='false'] .switch-target {
  box-shadow: 3px 1px 6px 0px var(--par-color-effect-shadow);
}

.switch:enabled:active[aria-checked='false'] .switch-target,
.switch:enabled:hover[aria-checked='false'] .switch-target {
  box-shadow:
    3px 1px 6px 0px var(--par-color-effect-shadow),
    0px 0px 1px 6px var(--par-color-bg-switch-target-state-layer-hovered);
}

.switch:enabled[aria-checked='true'] {
  @apply border border-[var(--par-color-border-switch-checked)] bg-[var(--par-color-bg-switch-target-track-check)];
}

.switch:enabled[aria-checked='true'] .switch-target .switch-icon {
  @apply text-[var(--par-color-text-switch-target-checked-enabled)];
}

.switch:enabled[aria-checked='true'] .switch-target {
  box-shadow: -3px 1px 6px 0px var(--par-color-effect-shadow);
}

.switch:enabled:active[aria-checked='true'] .switch-target,
.switch:enabled:hover[aria-checked='true'] .switch-target {
  box-shadow:
    -3px 1px 6px 0px var(--par-color-effect-shadow),
    0px 0px 1px 6px var(--par-color-bg-switch-target-state-layer-hovered);
}

.switch:disabled[aria-checked='false'] {
  @apply border border-[var(--par-color-border-switch-unchecked-disabled)] bg-[var(--par-color-bg-switch-target-track-uncheck-disabled)];
}

.switch:disabled[aria-checked='false'] .switch-target .switch-icon {
  @apply text-[var(--par-color-text-switch-target-unchecked-disabled)];
}

.switch:disabled[aria-checked='false'] .switch-target {
  box-shadow: 3px 1px 6px 0px var(--par-color-effect-shadow);
}

.switch:disabled:active[aria-checked='false'] .switch-target,
.switch:disabled:hover[aria-checked='false'] .switch-target {
  box-shadow:
    3px 1px 6px 0px var(--par-color-effect-shadow),
    0px 0px 1px 6px var(--par-color-bg-switch-target-state-layer-disabled);
}

.switch:disabled[aria-checked='true'] {
  @apply border border-[var(--par-color-border-switch-checked-disabled)] bg-[var(--par-color-bg-switch-target-track-check-disabled)];
}

.switch:disabled[aria-checked='true'] .switch-target .switch-icon {
  @apply text-[var(--par-color-text-switch-target-checked-disabled)];
}

.switch:disabled[aria-checked='true'] .switch-target {
  box-shadow: -3px 1px 6px 0px var(--par-color-effect-shadow);
}

.switch:disabled:active[aria-checked='true'] .switch-target,
.switch:disabled:hover[aria-checked='true'] .switch-target {
  box-shadow:
    -3px 1px 6px 0px var(--par-color-effect-shadow),
    0px 0px 1px 6px var(--par-color-bg-switch-target-state-layer-disabled);
}

/* sizes */
.switch.small {
  @apply h-6 w-10;
}

.switch.small .switch-target-wrapper {
  @apply h-5 w-5;
}

.switch.small:enabled:active .switch-target {
  @apply h-6 w-6;
}

.switch.small .switch-target-wrapper .switch-icon {
  @apply h-4 w-4;
}

.switch.small[aria-checked='true'] .switch-target-wrapper {
  @apply translate-x-4;
}

.switch.medium {
  @apply h-8 w-14;
}

.switch.medium .switch-target-wrapper {
  @apply h-7 w-7;
}

.switch.medium:enabled:active .switch-target {
  @apply h-8 w-8;
}

.switch.medium .switch-target-wrapper .switch-icon {
  @apply h-5 w-5;
}

.switch.medium[aria-checked='true'] .switch-target-wrapper {
  @apply translate-x-6;
}

.switch.large {
  @apply h-10 w-[4.5rem];
}

.switch.large .switch-target-wrapper {
  @apply h-9 w-9;
}

.switch.large:enabled:active .switch-target {
  @apply h-10 w-10;
}

.switch.large .switch-target-wrapper .switch-icon {
  @apply h-6 w-6;
}

.switch.large[aria-checked='true'] .switch-target-wrapper {
  @apply translate-x-8;
}
