:root,
[data-scheme='light'] {
  --par-color-text-switch-target-unchecked-enabled: var(--par-gray-550);
  --par-color-text-switch-target-unchecked-disabled: rgb(from var(--par-gray-550) r g b / 0.5);
  --par-color-text-switch-target-checked-enabled: var(--par-green-550);
  --par-color-text-switch-target-checked-disabled: rgb(from var(--par-green-550) r g b / 0.5);

  --par-color-bg-switch-target-handle: var(--par-white);
  --par-color-bg-switch-target-handle-disabled: rgb(from var(--par-white) r g b / 0.5);

  --par-color-bg-switch-target-state-layer-enabled: var(--par-transparent);
  --par-color-bg-switch-target-state-layer-hovered: rgb(from var(--par-gray-200) r g b / 0.25);
  --par-color-bg-switch-target-state-layer-pressed: rgb(from var(--par-gray-200) r g b / 0.25);
  --par-color-bg-switch-target-state-layer-disabled: var(--par-transparent);

  --par-color-bg-switch-target-track-uncheck: var(--par-gray-200);
  --par-color-bg-switch-target-track-uncheck-disabled: rgb(from var(--par-gray-200) r g b / 0.25);
  --par-color-bg-switch-target-track-check: var(--par-green-550);
  --par-color-bg-switch-target-track-check-disabled: rgb(from var(--par-green-550) r g b / 0.5);

  --par-color-border-switch-unchecked: var(--par-gray-300);
  --par-color-border-switch-unchecked-disabled: rgb(from var(--par-gray-300) r g b / 0.5);
  --par-color-border-switch-checked: var(--par-green-200);
  --par-color-border-switch-checked-disabled: rgb(from var(--par-green-200) r g b / 0.5);
  --par-color-outlined-surface-item-focused: var(--par-black);
}

[data-scheme='dark'] {
  --par-color-text-switch-target-unchecked-enabled: var(--par-gray-550);
  --par-color-text-switch-target-unchecked-disabled: rgb(from var(--par-gray-550) r g b / 0.5);
  --par-color-text-switch-target-checked-enabled: var(--par-green-550);
  --par-color-text-switch-target-checked-disabled: rgb(from var(--par-green-550) r g b / 0.5);

  --par-color-bg-switch-target-handle: var(--par-white);
  --par-color-bg-switch-target-handle-disabled: rgb(from var(--par-white) r g b / 0.5);

  --par-color-bg-switch-target-state-layer-enabled: var(--par-transparent);
  --par-color-bg-switch-target-state-layer-hovered: rgb(from var(--par-gray-700) r g b / 0.25);
  --par-color-bg-switch-target-state-layer-pressed: rgb(from var(--par-gray-700) r g b / 0.25);
  --par-color-bg-switch-target-state-layer-disabled: var(--par-transparent);

  --par-color-bg-switch-target-track-uncheck: var(--par-gray-800);
  --par-color-bg-switch-target-track-uncheck-disabled: rgb(from var(--par-gray-800) r g b / 0.5);
  --par-color-bg-switch-target-track-check: var(--par-green-800);
  --par-color-bg-switch-target-track-check-disabled: rgb(from var(--par-green-800) r g b / 0.5);

  --par-color-border-switch-unchecked: var(--par-gray-600);
  --par-color-border-switch-unchecked-disabled: rgb(from var(--par-gray-600) r g b / 0.5);
  --par-color-border-switch-checked: var(--par-green-600);
  --par-color-border-switch-checked-disabled: rgb(from var(--par-green-600) r g b / 0.5);
  --par-color-outlined-surface-item-focused: var(--par-white);
}
