@import '../global.css';

select {
  @apply text-body-compact-02 m-0 w-full cursor-pointer appearance-none text-ellipsis rounded-md border border-gray-200 bg-white pl-4 pr-10;
}

select.non-value {
  @apply text-gray-500;
}

select > option {
  @apply appearance-none rounded-none py-8 text-gray-950;
}

select.native-select ~ .right-element-container {
  @apply pointer-events-none;
}

select:focus {
  outline-offset: 0;
  border-radius: 0.375rem;
}

select.error-state {
  border: 0.125rem solid #d62e42;
  outline-color: #d62e42;
}

select.error-state:focus {
  border: 0.125rem solid #d62e42;
  outline-color: #d62e42;
}

select.success-state {
  border: 0.125rem solid #39ac56;
  outline-color: #39ac56;
}

select.success-state:focus {
  border: 0.125rem solid #39ac56;
  outline-color: #39ac56;
}

select:disabled,
select:disabled ~ .right-element-container,
select:disabled ~ .left-element-container,
.input-wrapper:has(.value-input-wrapper[aria-disabled='true']) {
  @apply pointer-events-none select-none opacity-50;
}

option:disabled {
  @apply pointer-events-none text-gray-300/50;
}
/* sizes */

select.small {
  @apply py-1;
}

select.medium {
  @apply py-2;
}

select.large {
  @apply py-3;
}

/* Custom Select */
.input-wrapper .value-input-wrapper {
  @apply flex w-full items-center overflow-hidden;
}

.input-wrapper .value-input-wrapper.non-value {
  @apply text-gray-500;
}

.input-wrapper .value-input-wrapper .select-label {
  @apply pointer-events-none w-full select-none overflow-hidden text-ellipsis whitespace-nowrap;
}

.input-wrapper .value-input-wrapper .select-container {
  @apply flex flex-row gap-1;
}

.input-wrapper .value-input-wrapper[data-number-of-chips] .select-container > * {
  @apply invisible;
}

.input-wrapper .value-input-wrapper .select-number-chips-label {
  @apply w-full shrink-0 grow items-center overflow-hidden text-ellipsis whitespace-nowrap text-gray-500;
}

.input-wrapper .right-element-container .arrow-select-btn {
  @apply transition-all duration-150 ease-in-out;
}

.input-wrapper .right-element-container .arrow-select-btn.open {
  @apply -scale-y-100;
}

/* Select */
