/* Base */
.chip {
  @apply text-body-compact-01 relative inline-flex w-fit cursor-pointer select-none items-center truncate rounded-md font-medium focus-visible:-outline-offset-1;
  transition:
    padding 0.2s ease-in-out,
    color 0.1s ease-in-out;
}

.chip > .chip-icon {
  @apply flex items-center justify-center rounded-sm p-0;
}

.chip > .check-icon {
  @apply absolute right-1.5 top-1/2 w-0 -translate-y-1/2 overflow-hidden rounded-sm p-0 opacity-0 transition-all duration-200 ease-in-out focus-visible:-outline-offset-2;
}

.chip > .check-icon.active {
  @apply w-4 opacity-100 transition-[opacity] delay-100 ease-in-out;
}

.chip img {
  @apply h-[1.125rem] w-[1.125rem] rounded-full;
}

.chip[aria-disabled='true'] img {
  @apply opacity-50;
}

.chip[aria-disabled='true'] {
  @apply cursor-not-allowed;
}

/* Small size */
.chip.small {
  @apply h-6 gap-1 px-1.5;
}

.chip.small .chip-icon:has(img) {
  @apply h-[1.125rem] min-h-[1.125rem] w-[1.125rem] min-w-[1.125rem];
}

.chip.small:has(.check-icon.active) {
  @apply pr-[1.625rem]; /*padding of chip + width of check icon + gap between label and check icon  */
}

/* Medium size */
.chip.medium {
  @apply h-7 gap-1 px-1.5;
}

.chip.medium .chip-icon:has(img) {
  @apply h-[1.125rem] min-h-[1.125rem] w-[1.125rem] min-w-[1.125rem];
}

.chip.medium:has(.check-icon.active) {
  @apply pr-[1.625rem]; /*padding of chip + width of check icon + gap between label and check icon  */
}

/* Large size */
.chip.large {
  @apply h-8 gap-1 px-1.5;
}

.chip.large .chip-icon:has(img) {
  @apply h-[1.125rem] min-h-[1.125rem] w-[1.125rem]  min-w-[1.125rem];
}

.chip.large:has(.check-icon.active) {
  @apply pr-[1.625rem]; /*padding of chip + width of check icon + gap between label and check icon  */
}

/* Outline chip */
.chip.outlined {
  @apply border border-gray-200 bg-transparent text-gray-550 
  hover:border-gray-300 hover:bg-gray-100/50 hover:text-gray-600
  active:border-gray-400 active:bg-gray-200/50  active:text-gray-700;
}

.chip.outlined[aria-disabled='true'] {
  @apply !border-gray-200/50 !bg-transparent !text-gray-550/50;
}

.chip.outlined[aria-disabled='true'][aria-checked='true'],
.chip.outlined[aria-disabled='true'][role='dropdown'][aria-valued='true'] {
  @apply !border-gray-400/50 !bg-gray-100/25 !text-gray-950/50;
}

.chip.outlined.neutral[aria-checked='true'],
.chip.outlined.neutral[role='dropdown'][aria-valued='true'] {
  @apply border border-gray-400 bg-gray-100/50 text-gray-900 
  hover:border-gray-500 hover:bg-gray-200/50 hover:text-gray-900
  active:border-gray-500 active:bg-gray-300/50  active:text-gray-900;
}

.chip.outlined.accent[aria-checked='true'],
.chip.outlined.accent[role='dropdown'][aria-valued='true'] {
  @apply border border-blue-400 bg-blue-100/50 text-blue-600 
  hover:border-blue-500 hover:bg-blue-200/50 hover:text-blue-700
  active:border-blue-500 active:bg-blue-300/50  active:text-blue-800;
}

/* Glass chip */

.chip.glass {
  @apply border-none bg-gray-100/50 text-gray-600 
  hover:bg-gray-200/50 hover:text-gray-700
  active:bg-gray-300/50  active:text-gray-800;
}

.chip.glass[aria-disabled='true'] {
  @apply !bg-gray-100/25 !text-gray-600/50;
}

.chip.glass[aria-disabled='true'][aria-checked='true'],
.chip.glass[aria-disabled='true'][role='dropdown'][aria-valued='true'] {
  @apply !bg-gray-200/25 !text-gray-950/50;
}

.chip.glass.neutral[aria-checked='true'],
.chip.glass.neutral[role='dropdown'][aria-valued='true'] {
  @apply border-none bg-gray-200/50 text-gray-700 
  hover:bg-gray-300/50 hover:text-gray-800
  active:bg-gray-400/50  active:text-gray-900;
}

.chip.glass.accent[aria-checked='true'],
.chip.glass.accent[role='dropdown'][aria-valued='true'] {
  @apply border-none  bg-blue-200/50 text-blue-600 
   hover:bg-blue-300/50 hover:text-blue-700
   active:bg-blue-400/50  active:text-blue-800;
}
