/* Override browser's default checkbox input */
input[type='checkbox'].par-checkbox {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0.1875rem !important;
  padding: 0 !important;
  min-width: 1rem;
  min-height: 1rem;
  max-width: 1rem;
  max-height: 1rem;
  position: relative;
  background-color: var(--par-transparent);
  cursor: pointer;
}

input[type='checkbox'].par-checkbox:checked {
  @apply border-transparent bg-transparent text-transparent;
}

input[type='checkbox'].par-checkbox:indeterminate {
  @apply border-transparent bg-transparent text-transparent;
}

.checkbox-wrapper {
  @apply relative flex w-fit cursor-pointer gap-3;
}

input[type='checkbox'].par-checkbox:disabled {
  @apply cursor-not-allowed;
}

.checkbox-wrapper[aria-disabled='true'] {
  @apply cursor-not-allowed select-none;
}

.checkbox-wrapper[aria-disabled='true'] .input-label {
  @apply text-[var(--par-color-text-surface-item-disabled)];
}

.checkbox-wrapper[aria-disabled='true'] .input-sublabel {
  @apply text-[var(--par-color-text-helper-neutral-disabled)];
}

.checkbox-input {
  @apply relative my-1 flex h-fit w-fit items-center justify-center;
}

.checkbox-icon {
  @apply absolute left-1/2 top-1/2 h-4 w-4 -translate-x-1/2 -translate-y-1/2 rounded-sm p-0;
}

.input-label {
  @apply text-body-compact-02 w-full select-none flex-col break-words text-[var(--par-color-text-surface-item-enabled)];
}

.input-sublabel {
  @apply text-helper-01 line-clamp-4 w-full text-[var(--par-color-text-helper-neutral)];
}

.checkbox-group {
  @apply flex flex-col gap-2;
}

.checkbox-group-item {
  @apply flex flex-col gap-2;
}

.checkbox-group.horizontal {
  @apply flex-row flex-wrap gap-4;
}

/* Animations checked icon */

.checkbox-icon-rect {
  transition: fill 0.15s linear;
}

.checkbox-icon-path.checked {
  transition:
    stroke 0.15s ease,
    fill 0.15s ease,
    opacity 0.15s ease,
    stroke-dashoffset 0.3s ease; /*draw time 0.15s*/
}
