/* Checkbox & Radio */
input[type='checkbox'].par-checkbox:disabled {
  opacity: 0.5;
}

/* Override browser's default checkbox input */
input[type='checkbox'].par-checkbox {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0.1875rem !important;
  padding: 0 !important;
  min-width: 1rem;
  min-height: 1rem;
  max-width: 1rem;
  max-height: 1rem;
  position: relative;
  background-color: var(--par-transparent);
  /* @apply border-transparent bg-transparent text-transparent; */
}

input[type='checkbox'].par-checkbox:checked {
  @apply border-transparent bg-transparent text-transparent;
}

input[type='checkbox'].par-checkbox:indeterminate {
  @apply border-transparent bg-transparent text-transparent;
}

.checkbox-wrapper {
  @apply relative flex w-fit gap-3;
}

.checkbox-wrapper[aria-disabled='true'] {
  @apply opacity-50;
}

.checkbox-input {
  @apply relative flex h-fit w-fit items-center justify-center;
}

.checkbox-icon {
  @apply absolute left-1/2 top-1/2 h-4 w-4 -translate-x-1/2 -translate-y-1/2 rounded-sm p-0;
}

.checkbox-wrapper .input-wrapper {
  @apply inline-block h-5 p-0;
}

.checkbox-wrapper .input-label-wrapper {
  @apply p-0;
}

.input-label {
  @apply text-body-compact-02 w-full select-none flex-col break-words text-gray-900;
}

.input-sublabel {
  @apply text-helper-01 line-clamp-4 w-full select-none text-gray-500;
}

.checkbox-group {
  @apply flex flex-col gap-2;
}

.checkbox-group-item {
  @apply flex flex-col gap-2;
}

.checkbox-group.horizontal {
  @apply flex-row flex-wrap gap-4;
}

/* checkbox colors */
input[type='checkbox'].par-checkbox.neutral:checked ~ .checkbox-icon {
  @apply bg-[var(--par-color-bg-checkbox-neutral-selected)];
}

input[type='checkbox'].par-checkbox.neutral:checked ~ .checkbox-icon .checkbox-icon-text {
  @apply text-[var(--par-color-icon-checkbox-neutral-selected)];
}

input[type='checkbox'].par-checkbox.accent:checked {
  @apply bg-[var(--par-color-bg-checkbox-accent-selected)] text-[var(--par-color-icon-checkbox-accent-selected)];
}
