/* Checkbox & Radio */
input[type='checkbox'].par-input:disabled {
  opacity: 0.5;
}

/* Override browser's default checkbox input */
input[type='checkbox'].par-input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0.1875rem;
  padding: 0;
  min-width: 1rem;
  min-height: 1rem;
  max-width: 1rem;
  max-height: 1rem;
  border: 0.125rem solid #a8a8a8;
  position: relative;
  top: 0.125rem;
  background-color: white;
}

input[type='checkbox'].par-input:focus {
  border-radius: 0.1875rem;
}

input[type='checkbox'].par-input:checked {
  border: 0.1875rem solid transparent;
  transition: all 150ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: #4294ff;
  background-position: center center;
  background-repeat: no-repeat;
  background-image: url("data:image/svg+xml;utf8,<svg height='12px' width='12px' role='img' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'><path fill='none' d='M20 6L9 17L4 12' stroke='white' stroke-width='3.5' stroke-linecap='round' stroke-linejoin='round'></path></svg>");
}

input[type='checkbox'].par-input:indeterminate {
  transition: all 150ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: white;
  background-position: center center;
  background-repeat: no-repeat;
  background-image: url("data:image/svg+xml;utf8,<svg height='12px' width='12px' role='img' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'><path fill='none' d='M5 12H19' stroke='%23a8a8a8' stroke-width='3.5' stroke-linecap='round' stroke-linejoin='round'></path></svg>");
}

.checkbox-wrapper {
  @apply flex w-fit gap-3;
}

.checkbox-wrapper[aria-disabled='true'] {
  @apply opacity-50;
}

.checkbox-wrapper .input-wrapper {
  @apply inline-block w-fit;
}

.checkbox-wrapper .input-label-wrapper {
  @apply p-0;
}

.input-label {
  @apply text-body-compact-02 w-full select-none flex-col break-words  text-gray-900;
}

.input-sublabel {
  @apply text-helper-01 line-clamp-4 w-full select-none  text-gray-500;
}

.checkbox-group {
  @apply flex flex-col gap-2;
}

.checkbox-group-item {
  @apply flex flex-col gap-2;
}

.checkbox-group.horizontal {
  @apply flex-row flex-wrap gap-4;
}

/* Checkbox & Radio */
