@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@import './prose.css';
@import './fonts.css';

:root,
[data-scheme='light'] {
  --foreground-rgb: 0, 0, 0;
  --background-alternative: var(--par-gray-25);
  --text-hover: var(--par-gray-900);
  --text-active: var(--par-gray-700);
}

[data-scheme='dark'] {
  --foreground-rgb: 0, 0, 0;
  --background-alternative: var(--par-gray-900);
  --text-hover: var(--par-gray-100);
  --text-active: var(--par-gray-300);
}

html {
  overflow-y: scroll;
  scroll-behavior: smooth;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
