.toast-container {
  @apply fixed z-[999] mx-4 my-6 flex w-[20rem] flex-col justify-end gap-4 !bg-transparent;
}

.toast-container.top-right {
  @apply right-0 top-0;
}

.toast-container.top-center {
  @apply left-1/2 top-0 -translate-x-1/2;
}

.toast-container.bottom-center {
  @apply bottom-0 left-1/2 -translate-x-1/2;
}

.toast-container.bottom-right {
  @apply bottom-0 right-0;
}

.toast {
  box-shadow: 0px 10px 15px -3px var(--par-color-effect-shadow);
  @apply text-body-compact-01 relative flex h-auto w-full items-center justify-center gap-3 overflow-hidden rounded-md border p-3 transition-all duration-300;
}

.toast.active.collapsed {
  @apply absolute right-0 h-full w-full;
}

.toast.active.collapsed > * {
  @apply invisible; /* hide all elements inside collapsed toast to maintain the size when using stack layout*/
}

.toast:not(.active) {
  @apply hidden;
}

.toast.active.animate-slide-in-left {
  animation: slide-in-left forwards ease-in-out 0.25s;
}

.toast.active.animate-slide-in-bottom {
  animation: slide-in-bottom forwards ease-in-out 0.25s;
}

.toast.active.animate-slide-in-right {
  animation: slide-in-right forwards ease-in-out 0.25s;
}

.toast.active.animate-slide-in-top {
  animation: slide-in-top forwards ease-in-out 0.25s;
}

.toast.animate-fade-out {
  animation: fade-out forwards ease-in-out 0.25s;
}

.toast > .toast-progress-bar {
  animation: wide-in forwards linear reverse;
  @apply absolute bottom-0 left-0 h-1 w-full;
}

.toast.paused > .toast-progress-bar {
  animation-play-state: paused !important;
}

.toast-icon {
  @apply flex h-5 w-5 items-center justify-center self-start rounded-full text-[12px] font-normal;
}

.toast-body {
  @apply flex flex-auto flex-col text-[var(--par-color-text-primary)];
}

.toast-title {
  @apply text-heading-01;
}

.toast-message {
  @apply mt-1;
}

.toast-action {
  @apply mt-2;
}

.toast.height-compact .toast-message {
  @apply mt-0;
}
.toast.height-compact .toast-action {
  @apply mr-1 mt-0;
}

.action-section {
  @apply flex flex-shrink-0 flex-row items-center justify-end gap-1 self-start text-[var(--par-color-text-button)];
}

.toast-action-divider {
  @apply block h-4 w-px bg-[var(--par-color-border-surface)];
}

.toast-close {
  @apply flex h-5 w-5 cursor-pointer items-center justify-center self-start;
}

.toast.emphasis-normal {
  @apply border-[var(--par-color-border-emphasis-normal)] bg-[var(--par-color-bg-emphasis-normal)];
}

.toast.emphasis-high.generic {
  @apply border-[var(--par-color-border-toast-emphasis-high-generic)] bg-[var(--par-color-bg-toast-emphasis-high-generic)];
}

.toast.emphasis-high.information {
  @apply border-[var(--par-color-border-toast-emphasis-high-info)] bg-[var(--par-color-bg-toast-emphasis-high-info)];
}

.toast.emphasis-high.affirmative {
  @apply border-[var(--par-color-border-toast-emphasis-high-affirmative)] bg-[var(--par-color-bg-toast-emphasis-high-affirmative)];
}

.toast.emphasis-high.cautionary {
  @apply border-[var(--par-color-border-toast-emphasis-high-cautionary)] bg-[var(--par-color-bg-toast-emphasis-high-cautionary)];
}

.toast.emphasis-high.adverse {
  @apply border-[var(--par-color-border-toast-emphasis-high-adverse)] bg-[var(--par-color-bg-toast-emphasis-high-adverse)];
}

.toast.generic > .toast-progress-bar {
  @apply bg-[--par-color-border-progress-bar-generic];
}

.toast.information > .toast-progress-bar {
  @apply bg-[--par-color-border-progress-bar-info];
}

.toast.affirmative > .toast-progress-bar {
  @apply bg-[--par-color-border-progress-bar-affirmative];
}

.toast.cautionary > .toast-progress-bar {
  @apply bg-[--par-color-border-progress-bar-cautionary];
}

.toast.adverse > .toast-progress-bar {
  @apply bg-[--par-color-border-progress-bar-adverse];
}

.toast-icon {
  @apply flex-shrink-0;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes slide-in-left {
  0% {
    transform: translateX(calc(100% + 1rem));
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slide-in-right {
  0% {
    transform: translateX(0);
    opacity: 1;
  }
  100% {
    transform: translateX(calc(100% + 1rem));
    opacity: 0;
  }
}

@keyframes slide-in-bottom {
  0% {
    transform: translateY(calc(100% + 1rem));
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slide-in-top {
  0% {
    transform: translateY(calc(-100% - 1rem));
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes wide-in {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}
