@import '../theme/alias/text-icon-colors.css';

.progress {
  @apply flex flex-col gap-1;
}

.progress.circle {
  @apply w-fit items-center;
}

.progress-track {
  stroke: var(--par-color-progress-track);
  @apply relative my-1 h-2  min-w-64 rounded-full bg-[var(--par-color-progress-track)];
}

.progress-thumb {
  @apply absolute left-0 top-0 h-full rounded-full transition-[width] duration-500 ease-linear;
}

.progress.circle .progress-thumb {
  transition: stroke-dashoffset 0.5s linear;
}

.progress-title-wrapper {
  @apply flex items-center justify-between;
}

.progress-title {
  fill: var(--par-color-text-primary);
  @apply text-heading-01 grow font-medium text-[var(--par-color-text-primary)];
}

.progress.circle.small .progress-title {
  @apply text-sm;
}

.progress.circle.medium .progress-title {
  @apply text-xl;
}

.progress-numeral {
  @apply text-label-01 flex items-center gap-1 font-semibold text-[var(--par-color-text-helper-neutral)];
}

.progress-helper-text {
  @apply text-label-01 text-[var(--par-color-text-helper-neutral)];
}

.progress.circle .progress-helper-text {
  @apply text-label-01 w-28 text-center;
}

/* color */
.progress.active.neutral .progress-thumb {
  stroke: var(--par-color-progress-thumb-active-neutral);
  @apply bg-[var(--par-color-progress-thumb-active-neutral)];
}

.progress.active.accent .progress-thumb {
  stroke: var(--par-color-progress-thumb-active-accent);
  @apply bg-[var(--par-color-progress-thumb-active-accent)];
}

/* state */
.progress.success .progress-thumb {
  stroke: var(--par-color-progress-thumb-success);
  @apply bg-[var(--par-color-progress-thumb-success)];
}

.progress.success .progress-helper-text {
  @apply text-[var(--par-color-text-helper-affirmative)];
}

.progress.error .progress-thumb {
  stroke: var(--par-color-progress-thumb-error);
  @apply bg-[var(--par-color-progress-thumb-error)];
}

.progress.error .progress-helper-text {
  @apply text-[var(--par-color-text-helper-adverse)];
}
