/* Tabs */
.tabs {
  @apply relative z-0 flex w-full gap-4;
}

.tabs.top {
  @apply flex-col;
}

.tabs.bottom {
  @apply flex-col-reverse;
}

.tabs.left {
  @apply flex-row;
}

.tabs.right {
  @apply flex-row-reverse;
}

.tabs-nav-wrapper {
  @apply relative overflow-visible border-[var(--par-color-border-tab-container)];
}

.tabs.horizontal .tabs-nav-wrapper {
  @apply w-full;
}

.tabs.vertical .tabs-nav-wrapper {
  @apply min-w-fit;
}

.tabs.horizontal .tabs-nav-wrapper:not(.flipped) {
  @apply border-b;
}

.tabs.horizontal .tabs-nav-wrapper.flipped {
  @apply border-t;
}

.tabs.vertical .tabs-nav-wrapper:not(.flipped) {
  @apply border-l;
}

.tabs.vertical .tabs-nav-wrapper.flipped {
  @apply border-r;
}

.tabs-nav {
  @apply relative flex h-fit scrollbar-none;
}

.tabs.horizontal .tabs-nav {
  @apply flex-row overflow-x-scroll scroll-smooth;
}

.tabs.vertical .tabs-nav {
  @apply flex-col;
}

.tab-button {
  @apply text-body-compact-02 relative min-w-fit bg-[var(--par-color-bg-tab-item-enabled)] px-4 text-left text-[var(--par-color-text-tab-item-enabled)] -outline-offset-2 transition-colors duration-150 ease-in-out hover:bg-[var(--par-color-bg-tab-item-hovered)] hover:text-[var(--par-color-text-tab-item-hovered)];
}

.tab-button:disabled {
  @apply cursor-not-allowed bg-[var(--par-color-bg-tab-item-disabled)] text-[var(--par-color-text-tab-item-disabled)] hover:bg-[var(--par-color-bg-tab-item-disabled)] hover:text-[var(--par-color-text-tab-item-disabled)];
}

.tab-button::after {
  @apply absolute block transform transition-transform duration-150 ease-in-out content-[''];
}

.tabs.vertical .tabs-nav-wrapper:not(.flipped).same .tab-button::after,
.tabs.horizontal .tabs-nav-wrapper:not(.flipped).same .tab-button::after {
  @apply bottom-0 left-0;
}

.tabs.vertical .tabs-nav-wrapper.flipped.same .tab-button::after,
.tabs.horizontal .tabs-nav-wrapper.flipped.same .tab-button::after {
  @apply right-0 top-0;
}

.tabs.vertical .tabs-nav-wrapper:not(.flipped).opposite .tab-button::after,
.tabs.horizontal .tabs-nav-wrapper:not(.flipped).opposite .tab-button::after {
  @apply right-0 top-0;
}

.tabs.vertical .tabs-nav-wrapper.flipped.opposite .tab-button::after,
.tabs.horizontal .tabs-nav-wrapper.flipped.opposite .tab-button::after {
  @apply bottom-0 left-0;
}

.tabs.horizontal .tab-button::after {
  @apply h-0.5 w-full scale-x-0;
}

.tabs.vertical .tab-button::after {
  @apply h-full w-0.5 scale-y-0;
}

.tabs.neutral .tab-button.active {
  @apply bg-[var(--par-color-bg-tab-item-neutral-active)] text-[var(--par-color-text-tab-item-neutral-active)] after:bg-[var(--par-color-border-tab-item-neutral-active)];
}

.tabs.accent .tab-button.active {
  @apply bg-[var(--par-color-bg-tab-item-accent-active)] text-[var(--par-color-text-tab-item-accent-active)] after:bg-[var(--par-color-border-tab-item-accent-active)];
}

.tabs.horizontal .tab-button.active {
  @apply after:scale-x-100;
}

.tabs.vertical .tab-button.active {
  @apply after:scale-y-100;
}

.tab-button.from-right::after {
  @apply origin-right;
}

.tab-button.from-left::after {
  @apply origin-left;
}

.tab-button.from-top::after {
  @apply origin-top;
}

.tab-button.from-bottom::after {
  @apply origin-bottom;
}

.tabs.small .tab-button {
  @apply h-10;
}

.tabs.medium .tab-button {
  @apply h-14;
}

.tabs-body {
  @apply relative z-0 grow;
}

.tabs.vertical .tab-body {
  @apply min-h-full;
}

.tab-content:not(.hidden) {
  animation: fadeIn ease-in-out 0.15s;
  @apply h-full w-full p-4;
}

/* .tabs.default .tab-content {
  @apply bg-[var(--par-color-bg-surface)];
}

.tabs.alternative .tab-content {
  @apply bg-[var(--par-color-bg-surface-alternative)];
} */

.tabs-nav-scroll-actions {
  @apply absolute right-0 top-1/2 z-10 flex h-full -translate-y-1/2 items-center justify-center gap-2;
}

.tabs-nav-wrapper:has(.tabs-nav-scroll-actions) {
  @apply pr-20;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
