/* Tabs */
.tabs {
  @apply relative z-0 flex w-full;
}

.tabs.horizontal {
  @apply flex-col;
}

.tabs.vertical {
  @apply flex-row;
}

.tabs-nav {
  @apply relative z-[99] flex min-w-fit overflow-x-auto overflow-y-visible before:absolute before:bottom-0 before:left-0 before:block before:h-0.5 before:w-full before:bg-[var(--par-color-border-tab-container)] before:content-[''];
}

.tabs.horizontal .tabs-nav {
  @apply flex-row;
}

.tabs.vertical .tabs-nav {
  @apply flex-col before:h-full before:w-0.5;
}

.tab-button {
  @apply text-body-compact-02 relative min-w-fit bg-[var(--par-color-bg-tab-item-enabled)] px-4 text-left text-[var(--par-color-text-tab-item-enabled)] transition-colors duration-150 ease-in-out hover:bg-[var(--par-color-bg-tab-item-hovered)] hover:text-[var(--par-color-text-tab-item-hovered)];
}

.tab-button::after {
  @apply absolute bottom-0 left-0 block transform transition-transform content-[''];
}

.tabs.vertical .tab-button::after {
  @apply h-full w-0.5 scale-y-0;
}

.tabs.horizontal .tab-button::after {
  @apply h-0.5 w-full scale-x-0;
}

.tabs.medium .tab-button {
  @apply h-10;
}

.tabs.large .tab-button {
  @apply h-14;
}

.tabs.neutral .tab-button.active {
  @apply bg-[var(--par-color-bg-tab-item-neutral-active)] text-[var(--par-color-text-tab-item-neutral-active)] after:scale-x-100 after:bg-[var(--par-color-border-tab-item-neutral-active)];
}

.tabs.accent .tab-button.active {
  @apply bg-[var(--par-color-bg-tab-item-accent-active)] text-[var(--par-color-text-tab-item-accent-active)] after:scale-x-100 after:bg-[var(--par-color-border-tab-item-accent-active)];
}

.tabs.horizontal .tab-button.active {
  @apply after:scale-x-100;
}

.tabs.vertical .tab-button.active {
  @apply after:scale-y-100;
}

.tab-button.from-right::after {
  @apply origin-right;
}

.tab-button.from-left::after {
  @apply origin-left;
}

.tab-button.from-top::after {
  @apply origin-top;
}

.tab-button.from-bottom::after {
  @apply origin-bottom;
}

.tabs-body {
  @apply relative z-0 grow;
}

.tab-content:not(.hidden) {
  animation: fadeIn ease-in-out 0.15s;
  @apply py-3;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
