@import '../theme/alias/text-icon-colors.css';
@import '../theme/alias/background.css';
@import '../theme/alias/border.css';

:root,
[data-scheme='light'] {
  --par-color-indicator-default-from: rgb(from var(--par-color-bg-surface) r g b / 0);
  --par-color-indicator-default-via: rgb(from var(--par-color-bg-surface) r g b / 0.5);
  --par-color-indicator-default-to: var(--par-color-bg-surface);
  --par-color-indicator-alternative-from: rgb(from var(--par-color-bg-surface-alternative) r g b / 0);
  --par-color-indicator-alternative-via: rgb(from var(--par-color-bg-surface-alternative) r g b / 0.5);
  --par-color-indicator-alternative-to: var(--par-color-bg-surface-alternative);
}

[data-scheme='dark'] {
  --par-color-indicator-default-from: rgb(from var(--par-color-bg-surface) r g b / 0);
  --par-color-indicator-default-via: rgb(from var(--par-color-bg-surface) r g b / 0.5);
  --par-color-indicator-default-to: var(--par-color-bg-surface);
  --par-color-indicator-alternative-from: rgb(from var(--par-color-bg-surface-alternative) r g b / 0);
  --par-color-indicator-alternative-via: rgb(from var(--par-color-bg-surface-alternative) r g b / 0.5);
  --par-color-indicator-alternative-to: var(--par-color-bg-surface-alternative);
}
