/* Base */
.tag {
  @apply text-body-compact-01 relative inline-flex w-fit select-none items-center truncate rounded-md font-medium;
  transition:
    padding 0.2s ease-in-out,
    color 0.1s ease-in-out;
}

.tag > .tag-icon {
  @apply h-4 w-4 overflow-hidden rounded-full p-0;
}

.tag > .tag-icon:has(img) {
  @apply h-[1.125rem] w-[1.125rem] overflow-hidden rounded-full p-0;
}

.tag img {
  @apply h-[1.125rem] w-[1.125rem] rounded-full;
}

.tag button.tag-close-btn:disabled {
  @apply cursor-not-allowed bg-transparent opacity-50;
}

.tag.small:has(img),
.tag.medium:has(img),
.tag.large:has(img) {
  @apply pl-1;
}

/* Small size */
.tag.small {
  @apply h-6 gap-1 px-1.5;
}

/* Medium size */
.tag.medium {
  @apply h-7 gap-1.5 px-1.5;
}

/* Large size */
.tag.large {
  @apply h-8 gap-1.5 px-2;
}

/* tag theme*/

.tag button.tag-close-btn {
  @apply bg-[var(--par-color-bg-tag-button-enabled)];
}

.tag.neutral > .tag-icon.tag-close-btn {
  @apply text-[var(--par-color-icon-tag-button-neutral-enabled)]
  hover:bg-[var(--par-color-bg-tag-button-neutral-hovered)] hover:text-[var(--par-color-icon-tag-button-neutral-hovered)]
  active:bg-[var(--par-color-bg-tag-button-neutral-pressed)] active:text-[var(--par-color-icon-tag-button-neutral-pressed)]
  disabled:text-[var(--par-color-icon-tag-button-neutral-disabled)];
}

.tag.accent > .tag-icon.tag-close-btn {
  @apply text-[var(--par-color-icon-tag-button-accent-enabled)]
   hover:bg-[var(--par-color-bg-tag-button-accent-hovered)] hover:text-[var(--par-color-icon-tag-button-accent-hovered)]
   active:bg-[var(--par-color-bg-tag-button-accent-pressed)] active:text-[var(--par-color-icon-tag-button-accent-pressed)]
   disabled:text-[var(--par-color-icon-tag-button-accent-disabled)];
}

.tag button.tag-close-btn:disabled {
  @apply cursor-not-allowed !bg-[var(--par-color-bg-tag-button-disabled)];
}

/* Outline tag */
.tag.outlined {
  @apply border;
}

.tag.outlined.accent {
  @apply border-[var(--par-color-border-tag-outlined-accent)] bg-[var(--par-color-bg-tag-outlined-accent)] text-[var(--par-color-text-tag-outlined-accent)];
}

.tag.outlined.neutral {
  @apply border-[var(--par-color-border-tag-outlined-neutral)] bg-[var(--par-color-bg-tag-outlined-neutral)] text-[var(--par-color-text-tag-outlined-neutral)];
}

/* Glass tag */
.tag.glass {
  @apply border-none;
}

.tag.glass.accent {
  @apply border-[var(--par-color-border-tag-glass-accent)] bg-[var(--par-color-bg-tag-glass-accent)] text-[var(--par-color-text-tag-glass-accent)];
}

.tag.glass.neutral {
  @apply border-[var(--par-color-border-tag-glass-neutral)]  bg-[var(--par-color-bg-tag-glass-neutral)] text-[var(--par-color-text-tag-glass-neutral)];
}
