.flatpickr-calendar-neutral {
  /* TEXT */
  --par-color-text-datepicker-days-today-enabled: var(--par-color-text-datepicker-days-today-neutral-enabled);
  --par-color-text-datepicker-days-today-hovered: var(--par-color-text-datepicker-days-today-neutral-hovered);
  --par-color-text-datepicker-days-today-active: var(--par-color-text-datepicker-days-today-neutral-active);
  --par-color-text-datepicker-days-normal-hovered: var(--par-color-text-datepicker-days-normal-neutral-hovered);
  --par-color-text-datepicker-days-normal-active: var(--par-color-text-datepicker-days-normal-neutral-active);
  --par-color-text-datepicker-days-normal-drag: var(--par-color-text-datepicker-days-normal-drag-neutral);
  --par-color-text-datepicker-days-today-drag: var(--par-color-text-datepicker-days-today-drag-neutral);

  /* BG */
  --par-color-bg-datepicker-days-enabled: var(--par-color-bg-datepicker-days-neutral-enabled);
  --par-color-bg-datepicker-days-hovered: var(--par-color-bg-datepicker-days-neutral-hovered);
  --par-color-bg-datepicker-days-active: var(--par-color-bg-datepicker-days-neutral-active);
  --par-color-bg-datepicker-days-disabled: var(--par-color-bg-datepicker-days-neutral-disabled);
  --par-color-bg-datepicker-days-drag: var(--par-color-bg-datepicker-days-drag-neutral);
}

.flatpickr-calendar-accent {
  /* TEXT */
  --par-color-text-datepicker-days-today-enabled: var(--par-color-text-datepicker-days-today-accent-enabled);
  --par-color-text-datepicker-days-today-hovered: var(--par-color-text-datepicker-days-today-accent-hovered);
  --par-color-text-datepicker-days-today-active: var(--par-color-text-datepicker-days-today-accent-active);
  --par-color-text-datepicker-days-normal-hovered: var(--par-color-text-datepicker-days-normal-accent-hovered);
  --par-color-text-datepicker-days-normal-active: var(--par-color-text-datepicker-days-normal-accent-active);
  --par-color-text-datepicker-days-normal-drag: var(--par-color-text-datepicker-days-normal-drag-accent);
  --par-color-text-datepicker-days-today-drag: var(--par-color-text-datepicker-days-today-drag-accent);

  /* BG */
  --par-color-bg-datepicker-days-enabled: var(--par-color-bg-datepicker-days-accent-enabled);
  --par-color-bg-datepicker-days-hovered: var(--par-color-bg-datepicker-days-accent-hovered);
  --par-color-bg-datepicker-days-active: var(--par-color-bg-datepicker-days-accent-active);
  --par-color-bg-datepicker-days-disabled: var(--par-color-bg-datepicker-days-accent-disabled);
  --par-color-bg-datepicker-days-drag: var(--par-color-bg-datepicker-days-drag-accent);
}

/* Date Picker */
.date-picker {
  @apply text-body-compact-02 w-full text-ellipsis rounded-md border border-[var(--par-color-border-datepicker)] bg-[var(--par-color-bg-datepicker)];
}

.date-picker-calendar-button {
  @apply pointer-events-none aspect-square w-10 items-center justify-center p-3;
}
/* Date Picker */

@-webkit-keyframes fpFadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -20px, 0);
    transform: translate3d(0, -20px, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fpFadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -20px, 0);
    transform: translate3d(0, -20px, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.flatpickr-calendar {
  /* --par-width-board-item: calc(100% / 7); */
  --par-width-board-item: 2.5rem;
  background: 0 0;
  opacity: 0;
  display: none;
  text-align: center;
  visibility: hidden;
  padding: 0.5rem 1rem 1rem 1rem;
  -webkit-animation: none;
  animation: none;
  direction: ltr;
  font-size: 14px;
  line-height: 24px;
  border-radius: 0.375rem;
  position: absolute;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  background: var(--par-color-bg-datepicker, rgba(255, 255, 255, 1));
  -webkit-box-shadow:
    1px 0 0#e6e6e6,
    -1px 0 0#e6e6e6,
    0 1px 0#e6e6e6,
    0-1px 0#e6e6e6,
    0 3px 13px var(--par-color-effect-shadow, rgba(0, 0, 0, 0.1));
  box-shadow: 0px 2px 6px 0px var(--par-color-effect-shadow, rgba(0, 0, 0, 0.1));
  outline: 1px solid var(--par-color-border-datepicker, rgba(203, 203, 203, 1));
  outline-offset: -0.5px;
}

.flatpickr-calendar.inline,
.flatpickr-calendar.open {
  opacity: 1;
  max-height: 640px;
  visibility: visible;
}

.flatpickr-calendar.open {
  display: inline-block;
  z-index: 99999;
}

.flatpickr-calendar.animate.open {
  -webkit-animation: fpFadeInDown 300ms cubic-bezier(0.23, 1, 0.32, 1);
  animation: fpFadeInDown 300ms cubic-bezier(0.23, 1, 0.32, 1);
}

.flatpickr-calendar.inline {
  display: block;
  position: relative;
  top: 2px;
}

.flatpickr-calendar.static {
  position: absolute;
  top: calc(100% + 2px);
}

.flatpickr-calendar.static.open {
  z-index: 999;
  display: block;
}

.flatpickr-calendar.multiMonth .flatpickr-days .dayContainer:nth-child(n + 1) .flatpickr-day.inRange:nth-child(7n + 7) {
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}

.flatpickr-calendar.multiMonth .flatpickr-days .dayContainer:nth-child(n + 2) .flatpickr-day.inRange:nth-child(7n + 1) {
  -webkit-box-shadow:
    -2px 0 0 var(--par-color-border-datepicker),
    5px 0 0 var(--par-color-border-datepicker);
  box-shadow:
    -2px 0 0 var(--par-color-border-datepicker),
    5px 0 0 var(--par-color-border-datepicker);
}

.flatpickr-calendar .hasTime .dayContainer,
.flatpickr-calendar .hasWeeks .dayContainer {
  border-bottom: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.flatpickr-calendar.hasTime .dayContainer {
  padding-bottom: 0.5rem !important;
}

.flatpickr-calendar .hasWeeks .dayContainer {
  border-left: 0;
}

.flatpickr-calendar.noCalendar.hasTime .flatpickr-time {
  height: auto;
}

.flatpickr-calendar:after,
.flatpickr-calendar:before {
  position: absolute;
  pointer-events: none;
  border: solid transparent;
  content: '';
  height: 0;
  width: 0;
  left: 22px;
}

.flatpickr-calendar.arrowRight:after,
.flatpickr-calendar.arrowRight:before,
.flatpickr-calendar.rightMost:after,
.flatpickr-calendar.rightMost:before {
  left: auto;
  right: 22px;
}

.flatpickr-calendar.arrowCenter:after,
.flatpickr-calendar.arrowCenter:before {
  left: 50%;
  right: 50%;
}

.flatpickr-calendar:before {
  border-width: 5px;
  margin: 0-5px;
}

.flatpickr-calendar:after {
  border-width: 4px;
  margin: 0-4px;
}

.flatpickr-calendar.arrowTop:after,
.flatpickr-calendar.arrowTop:before {
  bottom: 100%;
}

.flatpickr-calendar.arrowTop:before {
  border-bottom-color: var(--par-color-border-datepicker, rgba(203, 203, 203, 1));
}

.flatpickr-calendar.arrowTop:after {
  border-bottom-color: var(--par-color-border-datepicker, rgba(203, 203, 203, 1));
}

.flatpickr-calendar.arrowBottom:after,
.flatpickr-calendar.arrowBottom:before {
  top: 100%;
}

.flatpickr-calendar.arrowBottom:before {
  border-top-color: var(--par-color-border-datepicker, rgba(203, 203, 203, 1));
}

.flatpickr-calendar.arrowBottom:after {
  border-top-color: var(--par-color-border-datepicker, rgba(203, 203, 203, 1));
}

.flatpickr-wrapper {
  width: 100%;
  position: relative;
  display: inline-block;
}

.flatpickr-months {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;

  display: flex;
  padding: 0.25rem 0rem;
  justify-content: center;
  align-items: center;
  align-self: stretch;
}

.flatpickr-months .flatpickr-month,
.flatpickr-months .flatpickr-next-month,
.flatpickr-months .flatpickr-prev-month {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  height: 2.5rem;
}

.flatpickr-months .flatpickr-month {
  line-height: 1;
  text-align: center;
  position: relative;
  overflow: hidden;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.flatpickr-months .flatpickr-next-month,
.flatpickr-months .flatpickr-prev-month {
  text-decoration: none;
  cursor: pointer;
  position: absolute;
  top: 0;
  z-index: 3;
  display: flex;
  height: 2.5rem;
  padding: 0.5rem 0rem 0.5rem 1.25rem;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;
  flex: 1 0 0;
  border-radius: 0.375rem;
  background: var(--par-color-bg-button-ghost-neutral-enabled, rgba(255, 255, 255, 0));
  fill: var(--par-color-text-button-ghost-neutral-enabled, rgba(0, 0, 0, 0.9));
}

.flatpickr-months .flatpickr-next-month.flatpickr-disabled,
.flatpickr-months .flatpickr-prev-month.flatpickr-disabled {
  display: none;
}

.flatpickr-months .flatpickr-next-month i,
.flatpickr-months .flatpickr-prev-month i {
  position: relative;
}

.flatpickr-months .flatpickr-next-month.flatpickr-prev-month,
.flatpickr-months .flatpickr-prev-month.flatpickr-prev-month {
  left: 0;
}

.flatpickr-months .flatpickr-next-month.flatpickr-next-month,
.flatpickr-months .flatpickr-prev-month.flatpickr-next-month {
  right: 0;
}

.flatpickr-months .flatpickr-next-month svg,
.flatpickr-months .flatpickr-prev-month svg {
  width: 14px;
  height: 14px;
}

.flatpickr-months .flatpickr-next-month svg path,
.flatpickr-months .flatpickr-prev-month svg path {
  -webkit-transition: fill 0.1s;
  transition: fill 0.1s;
  fill: inherit;
}

.numInputWrapper {
  height: auto;
}

.numInputWrapper input,
.numInputWrapper span {
  display: inline-block;
}

.numInputWrapper input {
  width: 100%;
}

.numInputWrapper input::-ms-clear {
  display: none;
}

.numInputWrapper input::-webkit-inner-spin-button,
.numInputWrapper input::-webkit-outer-spin-button {
  margin: 0;
  -webkit-appearance: none;
}

.numInputWrapper span {
  position: absolute;
  right: -0.25rem;
  width: 14px;
  height: 50%;
  line-height: 50%;
  opacity: 0;
  cursor: pointer;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.numInputWrapper span svg {
  width: inherit;
  height: auto;
}

.numInputWrapper span svg path {
  fill: rgba(0, 0, 0, 0.5);
}

.numInputWrapper:hover span {
  opacity: 1;
}

.flatpickr-current-month {
  font-size: 135%;
  font-weight: 300;
  position: absolute;
  width: 75%;
  left: 12.5%;
  line-height: 1;
  height: 34px;
  display: inline-block;
  text-align: center;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.flatpickr-current-month .numInputWrapper {
  width: 6ch;
  width: 7ch\0;
  display: inline-block;
}

.flatpickr-current-month .flatpickr-monthDropdown-months,
.flatpickr-current-month input.cur-year {
  background: 0 0;
  border: 0;
  border-radius: 0;
  box-sizing: border-box;
  font-size: inherit;
  height: auto;
  vertical-align: initial;
  -webkit-box-sizing: border-box;
}

.flatpickr-current-month input.cur-year {
  cursor: text;
  margin: 0;
  display: inline-block;
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
  appearance: textfield;
}

.flatpickr-current-month input.cur-year[disabled],
.flatpickr-current-month input.cur-year[disabled]:hover {
  font-size: 100%;
  color: var(--par-color-text-datepicker-days-normal-disabled, rgba(153, 153, 153, 1));
  background: 0 0;
  pointer-events: none;
}

.flatpickr-current-month .flatpickr-monthDropdown-months {
  cursor: pointer;
  margin-right: 0.25rem;
  position: relative;
  width: fit-content;
  text-align: center;
}

.flatpickr-current-month .flatpickr-monthDropdown-months:active,
.flatpickr-current-month .flatpickr-monthDropdown-months:focus {
  outline: 0;
  background: var(--par-color-bg-datepicker-month-select-dropdown-hovered, rgba(241, 241, 241, 1));
}

.flatpickr-current-month .flatpickr-monthDropdown-months .flatpickr-monthDropdown-month {
  padding: 0;
}

.flatpickr-weekdays {
  padding: 0;
  background: 0 0;
  text-align: center;
  overflow: hidden;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.flatpickr-days,
.flatpickr-weekdays .flatpickr-weekdaycontainer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.flatpickr-weekdaycontainer {
  justify-content: space-around;
}

.flatpickr-days {
  position: relative;
  overflow: hidden;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.flatpickr-days:focus {
  outline: 0;
}

.dayContainer,
.flatpickr-day {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.dayContainer {
  border-top: 1px solid var(--par-color-border-datepicker, rgba(203, 203, 203, 1));
  padding-top: 0.5rem !important;
  outline: 0;
  text-align: left;
  display: -ms-flexbox;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-around;
  justify-content: space-around;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  opacity: 1;
}

.flatpickr-day {
  background: 0 0;
  color: var(--par-color-text-datepicker-days-normal-enabled, rgba(3, 7, 18, 1));
  cursor: pointer;
  font-weight: 400;
  width: var(--par-width-board-item);
  -webkit-flex-basis: var(--par-width-board-item);
  -ms-flex-preferred-size: var(--par-width-board-item);
  flex-basis: var(--par-width-board-item);
  margin: 0;
  position: relative;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
}

.flatpickr-day.endRange,
.flatpickr-day.endRange.inRange,
.flatpickr-day.endRange.nextMonthDay,
.flatpickr-day.endRange.prevMonthDay,
.flatpickr-day.endRange:focus,
.flatpickr-day.endRange:hover,
.flatpickr-day.selected,
.flatpickr-day.selected.inRange,
.flatpickr-day.selected.nextMonthDay,
.flatpickr-day.selected.prevMonthDay,
.flatpickr-day.selected:focus,
.flatpickr-day.selected:hover,
.flatpickr-day.startRange,
.flatpickr-day.startRange.inRange,
.flatpickr-day.startRange.nextMonthDay,
.flatpickr-day.startRange.prevMonthDay,
.flatpickr-day.startRange:focus,
.flatpickr-day.startRange:hover {
  background: var(--par-color-bg-datepicker-days-active, rgba(3, 7, 18, 1));
  -webkit-box-shadow: none;
  box-shadow: none;
}

.flatpickr-day.endRange.startRange + .endRange:not(:nth-child(7n + 1)),
.flatpickr-day.selected.startRange + .endRange:not(:nth-child(7n + 1)),
.flatpickr-day.startRange.startRange + .endRange:not(:nth-child(7n + 1)) {
  -webkit-box-shadow: -10px 0 0#569ff7;
  box-shadow: -10px 0 0#569ff7;
}

.flatpickr-day.inRange {
  border-radius: 0;
  -webkit-box-shadow:
    -5px 0 0#e6e6e6,
    5px 0 0#e6e6e6;
  box-shadow:
    -5px 0 0#e6e6e6,
    5px 0 0#e6e6e6;
}

.flatpickr-day.nextMonthDay,
.flatpickr-day.notAllowed,
.flatpickr-day.notAllowed.nextMonthDay,
.flatpickr-day.notAllowed.prevMonthDay,
.flatpickr-day.prevMonthDay {
  color: var(--par-color-text-datepicker-days-normal-disabled, rgba(153, 153, 153, 1));
  cursor: default;
}

.flatpickr-day.flatpickr-disabled,
.flatpickr-day.flatpickr-disabled:hover {
  color: rgba(57, 57, 57, 0.1);
}

.flatpickr-day.week.selected {
  border-radius: 0;
  -webkit-box-shadow:
    -5px 0 0#569ff7,
    5px 0 0#569ff7;
  box-shadow:
    -5px 0 0#569ff7,
    5px 0 0#569ff7;
}

.flatpickr-day.hidden {
  visibility: hidden;
}

.flatpickr-weekwrapper {
  float: left;
}

.flatpickr-weekwrapper .flatpickr-weekday {
  float: none;
  width: 100%;
  line-height: 32px;
}

.flatpickr-weekwrapper span.flatpickr-day,
.flatpickr-weekwrapper span.flatpickr-day:hover {
  display: block;
  width: 100%;
  max-width: none;
  color: var(--par-color-text-datepicker-days-normal-enabled, rgba(3, 7, 18, 1));
  background: 0 0;
  cursor: default;
  border: 0;
}

.flatpickr-innerContainer,
.flatpickr-rContainer {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.flatpickr-innerContainer {
  display: block;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
}

.flatpickr-rContainer {
  display: inline-block;
  padding: 0;
}

.flatpickr-time,
.flatpickr-time input {
  text-align: center;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.flatpickr-time {
  padding-top: 1rem;
  outline: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.5rem;
  line-height: 32px;
  max-height: 3rem;
  overflow: hidden;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.flatpickr-time:after {
  content: '';
  display: table;
  clear: both;
}

.flatpickr-time .numInputWrapper {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  width: 40%;
  float: left;
}

.flatpickr-time.hasSeconds .numInputWrapper {
  width: 26%;
}

.flatpickr-time.time24hr .numInputWrapper {
  width: 49%;
}

.flatpickr-time input {
  background: 0 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  border: 0;
  border-radius: 0;
  margin: 0;
  padding: 0;
  line-height: inherit;
  color: var(--par-color-text-primary, rgba(3, 7, 18, 1));
  font-size: 14px;
  position: relative;
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
  appearance: textfield;
}

.flatpickr-time input:focus {
  outline: 0;
  border: 0;
}

.flatpickr-time .flatpickr-time-separator {
  color: var(--par-color-text-primary, rgba(3, 7, 18, 1));
  font-weight: 400;
  width: 2%;
}

.flatpickr-time .flatpickr-am-pm,
.flatpickr-time .flatpickr-time-separator {
  float: left;
  line-height: inherit;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  align-self: center;
}

.flatpickr-time .flatpickr-am-pm {
  outline: 0;
  width: 18%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.flatpickr-time input:focus,
.flatpickr-time input:hover {
  background: transparent;
}

.flatpickr-input[readonly] {
  cursor: pointer;
}

.flatpickr-weekwrapper {
  width: calc(var(--par-width-board-item) + 0.5rem) !important;
  box-sizing: border-box;
}

.flatpickr-weekwrapper span.flatpickr-weekday {
  width: calc(var(--par-width-board-item) + 0.5rem) !important;
  padding: 0 0.5rem 0 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.flatpickr-weekwrapper + .flatpickr-rContainer .dayContainer:only-child,
.flatpickr-weekwrapper + .flatpickr-rContainer .flatpickr-weekdaycontainer:only-child {
  width: calc(var(--par-width-board-item) * 7 + calc(var(--par-width-board-item)));
  padding-left: calc(var(--par-width-board-item));
  margin-left: calc(-1 * (var(--par-width-board-item)) + 0.5rem);
}

.dayContainer,
.flatpickr-weekdaycontainer {
  width: calc(var(--par-width-board-item) * 7 + 1rem); /* Add 1rem for paddingX */
  padding: 0 0.5rem 0 0.5rem;
}

.dayContainer:only-child,
.flatpickr-weekdaycontainer:only-child {
  width: calc(var(--par-width-board-item) * 7);
  padding: 0 0 0 0;
}

.dayContainer:not(:only-child):first-child,
.flatpickr-weekdaycontainer:not(:only-child):first-child {
  width: calc(var(--par-width-board-item) * 7 + 1.5rem);
  padding: 0 0.5rem 0 1rem;
  margin-left: -1rem;
}

.dayContainer:not(:only-child):last-child,
.flatpickr-weekdaycontainer:not(:only-child):last-child {
  width: calc(var(--par-width-board-item) * 7 + 0.5rem);
  padding: 0 0 0 0.5rem;
}

span.flatpickr-weekday {
  height: var(--par-width-board-item) !important;
  width: var(--par-width-board-item) !important;
  cursor: default;
  background: 0 0;
  line-height: 2rem;
  margin: 0;
  text-align: center;

  padding: 0.6875rem 0.9375rem 0.4375rem 0.9375rem;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: stretch;
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: 400;
  font-size: 1rem;
}

.flatpickr-days {
  width: auto;
}

.flatpickr-calendar:after,
.flatpickr-calendar:before {
  display: none;
}

.flatpickr-calendar.hasWeeks {
  width: 360px;
}

.flatpickr-calendar.hasWeeks.multiMonth .flatpickr-months .flatpickr-month:first-of-type {
  width: 328px !important;
  min-width: 328px !important;
  max-width: 328px !important;
}

.flatpickr-rContainer {
  width: unset;
}

.flatpickr-months .flatpickr-month {
  background: 0 0;
  color: rgba(3, 7, 18, 1);
  fill: rgba(3, 7, 18, 1);
  height: 3rem;
}

.flatpickr-months .flatpickr-next-month,
.flatpickr-months .flatpickr-prev-month {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.375rem;
  top: 1rem;
  width: 2.5rem;
}

.flatpickr-months .flatpickr-next-month svg,
.flatpickr-months .flatpickr-prev-month svg {
  fill: var(--par-color-text-button-ghost-neutral-enabled, rgba(3, 7, 18, 1));
  height: 0.875rem;
  width: 0.875rem;
}

.flatpickr-months .flatpickr-next-month:hover,
.flatpickr-months .flatpickr-prev-month:hover {
  background: var(--par-color-bg-button-ghost-neutral-hovered, rgba(241, 241, 241, 1));
  color: var(--par-color-text-button-ghost-neutral-hovered, rgba(3, 7, 18, 1));
}

.flatpickr-months .flatpickr-next-month:hover svg,
.flatpickr-months .flatpickr-prev-month:hover svg {
  fill: var(--par-color-text-button-ghost-neutral-hovered, rgba(3, 7, 18, 1));
}

.flatpickr-months .flatpickr-next-month:active,
.flatpickr-months .flatpickr-prev-month:active {
  background: var(--par-color-bg-button-ghost-neutral-pressed, rgba(3, 7, 18, 1));
  color: var(--par-color-text-button-ghost-neutral-pressed, rgba(3, 7, 18, 1));
}

.flatpickr-months .flatpickr-next-month:active svg,
.flatpickr-months .flatpickr-prev-month:active svg {
  fill: var(--par-color-text-button-ghost-neutral-pressed, rgba(3, 7, 18, 1));
}

.flatpickr-months .flatpickr-next-month.flatpickr-prev-month,
.flatpickr-months .flatpickr-prev-month.flatpickr-prev-month {
  left: 1rem;
}

.flatpickr-months .flatpickr-next-month.flatpickr-next-month,
.flatpickr-months .flatpickr-prev-month.flatpickr-next-month {
  right: 1rem;
}

.flatpickr-current-month {
  color: inherit;
  height: 3rem;
  align-items: center;
  display: flex;
  padding: 0;
  justify-content: center;
}

.flatpickr-current-month .numInputWrapper {
  border-radius: 0.375rem;
  width: 4rem;
}

.flatpickr-current-month .numInputWrapper .arrowUp {
  border-top-right-radius: 0.375rem;
}

.flatpickr-current-month .numInputWrapper .arrowDown,
.flatpickr-time {
  border-bottom-right-radius: 0.375rem;
}

.numInputWrapper {
  position: relative;
}

.numInputWrapper .arrowDown,
.numInputWrapper .arrowUp {
  position: absolute;
  right: -0.25rem;
  width: 1.125rem;
  height: 50%;
  border: 0;
  cursor: pointer;
  line-height: 50%;
  opacity: 0;
}

.numInputWrapper .arrowUp {
  top: 0;
  border-bottom: 0;
  background-color: transparent;
}

.numInputWrapper .arrowDown {
  top: 50%;
  background-color: transparent;
}

.numInputWrapper .arrowDown::after,
.numInputWrapper .arrowUp::after {
  position: absolute;
  left: 5px;
  display: block;
  border-right: 0.25rem solid transparent;
  border-left: 0.25rem solid transparent;
  content: '';
}

.numInputWrapper .arrowUp::after {
  border-bottom: 0.25rem solid var(--par-color-text-datepicker-caret-enabled, rgba(107, 107, 107, 1));
  border-top: 0.25rem solid transparent;
  bottom: 0.25rem;
}

.numInputWrapper .arrowUp:hover:after {
  border-bottom-color: var(--par-color-text-datepicker-caret-hovered, rgba(3, 7, 18, 1));
}

.numInputWrapper .arrowDown::after {
  border-top: 0.25rem solid var(--par-color-text-datepicker-caret-enabled, rgba(107, 107, 107, 1));
  border-bottom: 0.25rem solid transparent;
  top: 0.25rem;
}

.numInputWrapper .arrowDown:hover:after {
  border-top-color: var(--par-color-text-datepicker-caret-hovered, rgba(3, 7, 18, 1));
}

.flatpickr-current-month .flatpickr-monthDropdown-months {
  font-size: 1rem;
  color: var(--par-color-text-datepicker-time, rgba(107, 107, 107, 1));
  padding: 0.25rem;
  outline: 0 !important;
  border-radius: 0.375rem;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  height: 2rem;
  line-height: normal;
  margin-top: 0;
  font-weight: 500;
  font-family: 'IBM Plex Sans', sans-serif;
  letter-spacing: 0.32px;
}

.flatpickr-current-month .flatpickr-monthDropdown-months:hover {
  background: transparent;
  background: var(--par-color-bg-datepicker-month-select-dropdown-hovered, rgba(241, 241, 241, 1));
}

.flatpickr-current-month span.cur-month:hover {
  background: 0 0;
}

.flatpickr-current-month .flatpickr-monthDropdown-months .flatpickr-monthDropdown-month {
  border: 1px solid var(--par-color-border-datepicker-month-select-list, rgba(3, 7, 18, 1));
  background: var(--par-color-bg-datepicker, rgba(255, 255, 255, 1));
  box-shadow: 0px 2px 6px 0px var(--par-color-effect-shadow, rgba(0, 0, 0, 0.1));
  font-weight: 400;
  outline: 0;
  padding: 0 0.365rem;
}

.flatpickr-current-month .flatpickr-monthDropdown-months .flatpickr-monthDropdown-month,
.flatpickr-current-month input.cur-year,
.flatpickr-current-month span.cur-month {
  font-family: 'IBM Plex Sans', sans-serif;
  line-height: normal;
  color: var(--par-color-text-datepicker-time, rgba(107, 107, 107, 1));
  font-size: 1rem;
  letter-spacing: 0.32px;
}

.flatpickr-current-month input.cur-year {
  padding: 0.5rem 0.375rem;
  height: 2rem;
  outline: 0 !important;
  font-weight: 500;
}

.flatpickr-time {
  border-bottom-left-radius: 0.375rem;
}

.flatpickr-calendar.hasTime .flatpickr-time {
  border-top: 1px solid var(--par-color-border-datepicker, rgba(203, 203, 203, 1));
}

.flatpickr-weekdays {
  box-sizing: content-box;
}

.flatpickr-weekwrapper .flatpickr-weeks {
  padding: 0.5rem 0.5rem 0 0;
  color: var(--par-color-text-datepicker-days-normal-disabled, rgba(153, 153, 153, 1));
  border-top: 1px solid var(--par-color-border-datepicker, rgba(203, 203, 203, 1));
  border-right: 1px solid var(--par-color-border-datepicker, rgba(203, 203, 203, 1));
}

.dayContainer + .dayContainer::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 1px;
  height: calc(var(--par-width-board-item) * 6 + 0.5rem);
  background: var(--par-color-border-datepicker, rgba(203, 203, 203, 1));
}

.flatpickr-time .flatpickr-am-pm,
.flatpickr-time input.flatpickr-hour,
.flatpickr-time input.flatpickr-minute,
.flatpickr-time input.flatpickr-second {
  color: var(--par-color-text-datepicker-time);
  font-size: 1rem;
  font-weight: 400;
}

.flatpickr-time input.flatpickr-hour,
.flatpickr-time input.flatpickr-minute,
.flatpickr-time input.flatpickr-second {
  line-height: 28px;
}

.flatpickr-current-month span.cur-month {
  display: inline-block;
  padding: 0;
  font-weight: 500;
  margin-right: 0.375rem;
  margin-left: 1rem;
  width: 4.5rem;
}

.flatpickr-time .flatpickr-am-pm:focus,
.flatpickr-time input:focus,
.flatpickr-time input:hover {
  background: 0 0;
}

.flatpickr-time .flatpickr-am-pm:hover,
.numInputWrapper:hover {
  background-color: transparent;
}

.flatpickr-day {
  font-size: 1rem;
  border-radius: 0.375rem;
  box-shadow: none !important;
  height: var(--par-width-board-item);
  max-width: var(--par-width-board-item);
  line-height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: stretch;
}

.flatpickr-months .flatpickr-next-month,
.flatpickr-months .flatpickr-prev-month {
  height: 2.5rem;
  padding: 13px;
}

.flatpickr-day.today {
  font-weight: 600;
  color: var(--par-color-text-datepicker-days-today-enabled, rgba(3, 7, 18, 1));
  background: var(--par-color-bg-datepicker-days-enabled, rgba(255, 255, 255, 0));
}

.flatpickr-day.today::after {
  position: absolute;
  bottom: 0.4375rem;
  left: 50%;
  display: block;
  border-top: 1px solid var(--par-color-text-datepicker-days-today-enabled, rgba(3, 7, 18, 1));
  border-bottom: 1px solid var(--par-color-text-datepicker-days-today-enabled, rgba(3, 7, 18, 1));
  border-left: 3px solid var(--par-color-text-datepicker-days-today-enabled, rgba(3, 7, 18, 1));
  border-right: 3px solid var(--par-color-text-datepicker-days-today-enabled, rgba(3, 7, 18, 1));
  border-radius: 6px;
  content: '';
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

.flatpickr-day.prevMonthDay.today::after,
.flatpickr-day.nextMonthDay.today::after {
  border-top: 1px solid var(--par-color-text-datepicker-days-normal-disabled, rgba(153, 153, 153, 1));
  border-bottom: 1px solid var(--par-color-text-datepicker-days-normal-disabled, rgba(153, 153, 153, 1));
  border-left: 3px solid var(--par-color-text-datepicker-days-normal-disabled, rgba(153, 153, 153, 1));
  border-right: 3px solid var(--par-color-text-datepicker-days-normal-disabled, rgba(153, 153, 153, 1));
}

.flatpickr-day.prevMonthDay.today:hover::after,
.flatpickr-day.nextMonthDay.today:hover::after {
  border-top: 1px solid var(--par-color-text-datepicker-days-today-enabled, rgba(3, 7, 18, 1));
  border-bottom: 1px solid var(--par-color-text-datepicker-days-today-enabled, rgba(3, 7, 18, 1));
  border-left: 3px solid var(--par-color-text-datepicker-days-today-enabled, rgba(3, 7, 18, 1));
  border-right: 3px solid var(--par-color-text-datepicker-days-today-enabled, rgba(3, 7, 18, 1));
}

.flatpickr-day.prevMonthDay.today.selected:hover::after,
.flatpickr-day.nextMonthDay.today.selected:hover::after {
  border-top: 1px solid var(--par-color-text-datepicker-days-today-active, rgba(255, 255, 255, 1));
  border-bottom: 1px solid var(--par-color-text-datepicker-days-today-active, rgba(255, 255, 255, 1));
  border-left: 3px solid var(--par-color-text-datepicker-days-today-active, rgba(255, 255, 255, 1));
  border-right: 3px solid var(--par-color-text-datepicker-days-today-active, rgba(255, 255, 255, 1));
}

.flatpickr-day.inRange,
.flatpickr-day.nextMonthDay.inRange,
.flatpickr-day.nextMonthDay.today.inRange,
.flatpickr-day.nextMonthDay:focus,
.flatpickr-day.nextMonthDay:hover,
.flatpickr-day.prevMonthDay.inRange,
.flatpickr-day.prevMonthDay.today.inRange,
.flatpickr-day.prevMonthDay:focus,
.flatpickr-day.prevMonthDay:hover,
.flatpickr-day.today.inRange,
.flatpickr-day:focus,
.flatpickr-day:hover {
  cursor: pointer;
  outline: 0;
  background: var(--par-color-bg-datepicker-days-hovered, rgba(255, 255, 255, 0));
  color: var(--par-color-text-datepicker-days-normal-hovered, rgba(3, 7, 18, 1));
  border-color: transparent;
}

.flatpickr-day.today {
  border-color: transparent;
}

.flatpickr-day.today.inRange,
.flatpickr-day.nextMonthDay.today.inRange,
.flatpickr-day.prevMonthDay.today.inRange {
  color: var(--par-color-text-datepicker-days-today-hovered, rgba(3, 7, 18, 1));
}

.flatpickr-day.today:focus,
.flatpickr-day.today:hover {
  border-color: transparent;
  background: var(--par-color-bg-datepicker-days-hovered, rgba(255, 255, 255, 0));
  color: var(--par-color-text-datepicker-days-today-enabled, rgba(3, 7, 18, 1));
}

.flatpickr-day.today.selected::after,
.flatpickr-day.today.startRange.prevMonthDay:hover::after,
.flatpickr-day.today.startRange.nextMonthDay:hover::after,
.flatpickr-day.today.endRange.prevMonthDay:hover::after,
.flatpickr-day.today.endRange.nextMonthDay:hover::after {
  border-color: var(--par-color-text-datepicker-days-today-active, rgba(255, 255, 255, 1));
}

.flatpickr-day.endRange,
.flatpickr-day.endRange.inRange,
.flatpickr-day.endRange.nextMonthDay,
.flatpickr-day.endRange.prevMonthDay,
.flatpickr-day.endRange:focus,
.flatpickr-day.endRange:hover,
.flatpickr-day.selected,
.flatpickr-day.selected.inRange,
.flatpickr-day.selected.nextMonthDay,
.flatpickr-day.selected.prevMonthDay,
.flatpickr-day.selected:focus,
.flatpickr-day.selected:hover,
.flatpickr-day.startRange,
.flatpickr-day.startRange.inRange,
.flatpickr-day.startRange.nextMonthDay,
.flatpickr-day.startRange.prevMonthDay,
.flatpickr-day.startRange:focus,
.flatpickr-day.startRange:hover {
  background: var(--par-color-bg-datepicker-days-active, rgba(3, 7, 18, 1));
  color: var(--par-color-text-datepicker-days-normal-active, rgba(255, 255, 255, 1));
  border-color: transparent;
  border-radius: 0.375rem;
}

.flatpickr-day.endRange {
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}

.flatpickr-day.startRange {
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}

.rangeMode .flatpickr-day {
  margin-top: 0;
}

.flatpickr-day.flatpickr-disabled,
.flatpickr-day.flatpickr-disabled:hover {
  background: 0 0;
  border-color: transparent;
}

.flatpickr-day.nextMonthDay,
.flatpickr-day.notAllowed,
.flatpickr-day.notAllowed.nextMonthDay,
.flatpickr-day.notAllowed.prevMonthDay,
.flatpickr-day.prevMonthDay {
  color: var(--par-color-text-datepicker-days-normal-disabled, rgba(153, 153, 153, 1));
  background: 0 0;
  border-color: transparent;
}

.flatpickr-day.flatpickr-disabled,
.flatpickr-day.flatpickr-disabled:hover {
  cursor: not-allowed;
  color: var(--par-color-text-datepicker-days-normal-disabled, rgba(153, 153, 153, 1));
}
