@import 'tailwindcss/base';

@config '../../tailwind.config.js';

:root,
[data-scheme='light'] {
  --par-color-ring-visible-focused: rgba(22, 22, 22, 1);
}

[data-scheme='dark'] {
  --par-color-ring-visible-focused: rgba(255, 255, 255, 1);
}

*:focus-visible,
*[data-focus-visible='true'] {
  outline: 2px solid var(--par-color-ring-visible-focused);
  outline-offset: 1px;
}

[data-theme='dark'] *:focus-visible,
[data-theme='dark'] *[data-focus-visible='true'] {
  outline: 2px solid var(--par-color-ring-visible-focused);
  outline-offset: 1px;
}

svg.lucide.small,
svg.lucide.xsmall,
svg.lucide.sm,
svg.lucide.xs {
  @apply h-3 w-3;
}

svg.lucide,
svg.lucide.medium,
svg.lucide.md {
  @apply box-border h-4 w-4;
}

svg.lucide.large,
svg.lucide.lg {
  @apply h-5 w-5;
}

svg.lucide.xlarge,
svg.lucide.xl {
  @apply h-6 w-6;
}
