.tooltip {
  @apply cursor-pointer;
}

.tooltip-content {
  animation: fade-in 0.3s ease-in-out;
  @apply text-helper-01 visible absolute z-[99] h-fit w-max max-w-[12rem] cursor-default whitespace-normal rounded-md bg-[var(--par-color-bg-surface-inverse)] px-3 py-2 text-left text-[var(--par-color-text-primary-inverse)] opacity-100 transition-opacity duration-300;
}

.tooltip-caret {
  fill: var(--par-color-bg-surface-inverse);
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
