/* Override browser's default radio input */
input[type='radio'].par-radio {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 50% !important;
  width: 1rem;
  height: 1rem;
  padding: 0;
  outline: unset !important;
  position: relative;
  background-color: var(--par-transparent);
  border: none;
  cursor: pointer;
}

input[type='radio'].par-radio:checked {
  @apply border-transparent bg-transparent text-transparent;
}

input[type='radio'].par-radio:disabled {
  cursor: not-allowed;
}

.radio-wrapper {
  @apply flex w-fit cursor-pointer gap-3;
}

.radio-wrapper[aria-disabled='true'] {
  @apply cursor-not-allowed select-none;
}

.radio-wrapper[aria-disabled='true'] .input-label {
  @apply text-[var(--par-color-text-surface-item-disabled)];
}

.radio-wrapper[aria-disabled='true'] .input-sublabel {
  @apply text-[var(--par-color-text-helper-neutral-disabled)];
}

.radio-input {
  @apply relative my-1 flex h-fit w-fit items-center justify-center;
}

.radio-icon {
  @apply absolute left-1/2 top-1/2 h-4 w-4 -translate-x-1/2 -translate-y-1/2 rounded-sm p-0;
}

.radio-input .radio-checked {
  display: none;
}

.radio-input:has(input[type='radio'].par-radio:checked) .radio-checked {
  display: unset;
}

.radio-input:has(input[type='radio'].par-radio:checked) .radio-unchecked {
  display: none;
}

.input-label {
  @apply text-body-compact-02 w-full select-none flex-col break-words text-[var(--par-color-text-surface-item-enabled)];
}

.input-sublabel {
  @apply text-helper-01 line-clamp-4 w-full text-[var(--par-color-text-helper-neutral)];
}

.radio-group {
  @apply flex flex-col gap-2;
}

.radio-group-label {
  @apply text-label-02 text-[var(--par-color-text-surface-item-enabled)];
}

.radio-group-item {
  @apply flex flex-col gap-2;
}

.radio-group.horizontal {
  @apply flex-row flex-wrap gap-4;
}

@keyframes strokeExpand {
  from {
    stroke-width: 2;
  }
  to {
    stroke-width: 5;
  }
}

@keyframes strokeShrink {
  from {
    stroke-width: 2;
  }
  to {
    stroke-width: 2;
  }
}

.radio-checked rect {
  animation: strokeExpand 0.15s ease-out forwards;
}

.radio-unchecked rect {
  animation: strokeShrink 0.15s ease-out forwards;
}
