@import './variables.css';

.table-container {
  @apply relative z-0 w-full overflow-hidden rounded-md border border-[var(--par-color-border-table)];
}

.table-header-section {
  @apply bg-[var(--par-color-bg-table)] p-4;
}

.table-title {
  @apply text-heading-02 mb-1 font-semibold text-[var(--par-color-text-primary)];
}

.table-description {
  @apply text-body-compact-01 text-[var(--par-color-text-helper-neutral)];
}

.table-actions-section {
  @apply flex min-h-[var(--par-size-table-actions-height)] items-center justify-between
  gap-2 bg-[var(--par-color-bg-table)] p-3;
}

.table-batch-actions {
  @apply flex transform items-center justify-between gap-3 bg-[var(--par-color-bg-table-batch-action-selected-item)] p-3 text-[var(--par-color-text-table-content-item)];
}

.table-batch-actions-count {
  @apply text-label-02 font-semibold text-[var(--par-color-text-primary)];
}

.table-wrapper {
  @apply relative w-full overflow-auto  bg-[var(--par-color-bg-table)];
  max-height: var(--par-table-max-height, 600px);
}

.table-wrapper:not(:first-child) {
  @apply border-t border-[var(--par-color-border-table)];
}

.table-wrapper:not(:last-child) {
  @apply border-b border-[var(--par-color-border-table)];
}

.par-table {
  @apply m-0 box-border w-full table-auto border-collapse border-none bg-[var(--par-color-bg-table)] p-0;
  min-width: 100%;
}

.par-table th,
.par-table td {
  @apply m-0 h-10 border-none p-0;
}

.par-table th:last-child > *,
.par-table td:last-child > * {
  @apply border-r-0;
}

.par-table tr:last-child td > * {
  @apply border-b-0;
}

.table-head {
  @apply text-body-compact-01 sticky top-0 z-10 h-fit font-semibold text-[var(--par-color-text-table-header-cell-item-enabled)];
}

.table-head-cell-wrapper {
  box-shadow: 0px 2px 4px -3px var(--par-color-effect-shadow);
  @apply relative h-full min-h-fit w-full whitespace-nowrap border-b border-r border-[var(--par-color-border-table)] bg-[var(--par-color-bg-table)] px-4 py-3 text-left;
}

.table-head-cell {
  @apply min-w-fit select-none;
}

.table-head-cell.sortable {
  @apply cursor-pointer;
}

.table-head-cell.sortable:hover {
  @apply bg-[var(--par-color-bg-table-header-cell-item-hovered)] text-[var(--par-color-text-table-header-cell-item-hovered)];
}

.table-head-cell.frozen {
  @apply sticky z-[1];
}

.frozen.last-column-frozen .table-head-cell-wrapper,
.frozen.last-column-frozen .table-body-cell-wrapper {
  @apply border-r-2;
  /* box-shadow: 4px 0px 6px -2px rgba(0, 0, 0, 0.1); */
}

.table-head-cell-content {
  @apply flex min-h-5 w-fit items-center truncate;
}

.table-head-cell-wrapper:has(.table-sort-icon) .table-head-cell-content {
  @apply pr-8;
}

.table-sort-icon {
  @apply absolute right-3 top-1/2 flex shrink-0 -translate-y-1/2 flex-col items-center justify-center text-[var(--par-color-text-table-header-cell-item-enabled)];
}

.table-sort-icon .lucide {
  @apply h-3 w-3 text-[var(--par-color-text-table-header-cell-item-enabled)];
}

.table-sort-icon .lucide-chevron-down {
  @apply -mt-1;
}

.table-sort-icon .active {
  @apply text-[var(--par-color-text-table-header-cell-item-active)];
}

.table-resize-handle {
  @apply absolute right-0 top-0 z-10 h-full w-1 cursor-col-resize bg-[var(--par-color-border-table)] opacity-0 transition-opacity duration-200;
}

.table-resize-handle:hover,
.table-resize-handle:active {
  @apply w-0.5 opacity-100;
}

.table-resize-handle:active::after {
  height: var(--par-table-height);
  @apply absolute right-0 top-0 w-0.5 bg-[var(--par-color-border-table)] opacity-100 content-[''];
}

.table-body {
  @apply text-body-compact-02 bg-[var(--par-color-bg-table)];
}

.table-body-row {
  @apply h-fit;
}
.table-body-row:hover > .table-body-cell {
  @apply bg-[var(--par-color-bg-table-body-row-item-hovered)];
}

.table-body-row.selectable {
  @apply cursor-pointer;
}

.table-body-row.selected {
  @apply bg-[var(--par-color-bg-table-batch-action-selected-item)];
}

.table-body-cell-wrapper {
  @apply text-body-compact-02 h-full min-h-fit w-full overflow-hidden border-b border-r border-[var(--par-color-border-table)] bg-[var(--par-color-bg-table)] px-4 py-3 text-left align-middle text-[var(--par-color-text-table-content-item)];
}

.table-body-cell.frozen {
  @apply sticky z-[1];
}

.table-body-cell.frozen.last-column-frozen {
  @apply border-r-2;
}

.table-body-cell-content {
  @apply flex min-h-5 items-center truncate;
}

.table-body-row.selected {
  @apply bg-[var(--par-color-bg-table-batch-action-selected-item)];
}

.table-checkbox {
  @apply w-12 min-w-12 bg-[var(--par-color-bg-table)];
}

.table-checkbox .checkbox-input {
  @apply m-0;
}

.table-checkbox .checkbox-wrapper {
  @apply flex h-5 items-center justify-center;
}

.table-footer {
  @apply flex items-center justify-between bg-[var(--par-color-bg-table)] p-3 text-[var(--par-color-text-table-content-item)];
}

.table-row-count {
  @apply text-body-compact-01;
}

.table-pagination {
  @apply flex items-center gap-2;
}

.table-pagination-info {
  @apply text-body-compact-01;
}

.table-row-per-page {
  @apply text-body-compact-01 flex items-center gap-2;
}

.table-row-per-page .input-wrapper {
  @apply w-fit;
}

.table-search-input {
  @apply w-full pl-9;
}

.table-search-icon {
  @apply absolute left-3 top-1/2 -translate-y-1/2;
}

/* Utility for empty state */
.table-empty-state-wrapper {
  @apply text-body-compact-02 h-fit w-full font-semibold text-[var(--par-color-text-helper-neutral)];
}

.table-empty-state {
  @apply flex min-h-56 w-full flex-col items-center justify-center gap-2;
}

.table-empty-state-icon.lucide {
  @apply h-8 w-8;
}
