@import '../theme/alias/background.css';
@import '../theme/alias/text-icon-colors.css';

:root,
[data-scheme='light'] {
  /* TEXT */
  --par-color-text-table-header-cell-item-enabled: var(--par-gray-550);
  --par-color-text-table-header-cell-item-hovered: var(--par-gray-950);
  --par-color-text-table-header-cell-item-active: var(--par-gray-950);
  --par-color-text-table-content-item: var(--par-gray-950);

  /* BG */
  --par-color-bg-table-header-cell-item-enabled: var(--par-transparent);
  --par-color-bg-table-header-cell-item-hovered: var(--par-gray-50);
  --par-color-bg-table-header-cell-item-active: var(--par-gray-50);
  --par-color-bg-table-body-row-item-enabled: var(--par-transparent);
  --par-color-bg-table-body-row-item-hovered: var(--par-gray-50);
  --par-color-bg-table: var(--par-color-bg);
  --par-color-bg-table-batch-action-selected-item: var(--par-gray-50);

  /* BORDER */
  --par-color-border-table: var(--par-color-border-surface);
}

[data-scheme='dark'] {
  /* TEXT */
  --par-color-text-table-header-cell-item-enabled: var(--par-gray-200);
  --par-color-text-table-header-cell-item-hovered: var(--par-white);
  --par-color-text-table-header-cell-item-active: var(--par-white);
  --par-color-text-table-content-item: var(--par-white);

  /* BG */
  --par-color-bg-table-header-cell-item-enabled: var(--par-transparent);
  --par-color-bg-table-header-cell-item-hovered: var(--par-gray-800);
  --par-color-bg-table-header-cell-item-active: var(--par-gray-800);
  --par-color-bg-table-body-row-item-enabled: var(--par-transparent);
  --par-color-bg-table-body-row-item-hovered: var(--par-gray-800);
  --par-color-bg-table: var(--par-color-bg);
  --par-color-bg-table-batch-action-selected-item: var(--par-gray-800);

  /* BORDER */
  --par-color-border-table: var(--par-color-border-surface);
}
