input[type='range'] {
  @apply pointer-events-none absolute h-0.5 w-full appearance-none bg-transparent;
  width: calc(100% + 16px);
}

input[type='range']::-webkit-slider-thumb {
  pointer-events: auto;
  height: 1rem;
  width: 1rem;
  cursor: grab;
  appearance: none;
  border-radius: 9999px;
  border: 2px solid #d1d5db;
  background-color: #f3f4f6;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  transition: background-color 0.2s ease-in-out;
}

input[type='range']::-webkit-slider-thumb:active {
  @apply cursor-grabbing bg-gray-100;
}

input[type='range']::-moz-range-thumb {
  @apply pointer-events-auto h-4 w-4 cursor-pointer rounded-full bg-transparent;
}

.slider {
  @apply relative z-0 flex w-full max-w-80 flex-col items-center justify-center;
}

.slider-track {
  @apply relative z-0 h-2 w-full rounded-md bg-gray-300;
}

.slider-highlight {
  @apply absolute z-10 h-2 rounded-md;
}

.slider-input {
  @apply pointer-events-auto absolute z-10 w-full appearance-none;
}

.slider-marks {
  @apply absolute left-0  z-0 w-full;
}

.slider-dot {
  @apply pointer-events-none absolute bottom-1/2 h-1.5  w-1 -translate-x-1/2 translate-y-1/2 rounded-full;
}

.slider-dot.in-range {
  @apply bg-white;
}

.slider-dot.out-range {
  @apply bg-black;
}

.slider-label {
  @apply absolute top-2.5 -translate-x-1/2 select-none text-xs text-gray-500;
}

.indicator-wrapper {
  @apply absolute bottom-1/2 left-1/2 z-0 h-12 w-12 -translate-x-1/2 translate-y-1/2;
}

.indicator-wrapper:not(.reverse) .slider-thumb-indicator-text {
  @apply text-label-02 absolute left-1/2 top-full -translate-x-1/2 select-none;
}

.indicator-wrapper.reverse .slider-thumb-indicator-text {
  @apply text-label-02 absolute bottom-full left-1/2 -translate-x-1/2 select-none;
}

/* Styles for the vertical slider component */
.slider-vertical {
  @apply h-80 max-h-80 w-2;

  & .slider-marks {
    @apply absolute left-1/2 top-0 z-0 h-full -translate-x-1/2;
  }

  & .slider-highlight {
    @apply absolute z-10 w-2 rounded-md;
  }

  & .slider-marks {
    @apply absolute z-0 h-full w-full;
  }

  & .slider-input {
    @apply h-[calc(100%+16px)] w-0.5;
    writing-mode: vertical-lr;
    transform: rotate(180deg);
  }

  & .slider-label {
    @apply absolute left-5 top-auto h-fit w-fit translate-y-1/2 text-xs text-gray-500;
  }

  & .slider-dot {
    @apply pointer-events-none absolute h-1 w-1.5 -translate-x-1/2 translate-y-1/2 rounded-full;
  }

  & .indicator-wrapper:not(.reverse) .slider-thumb-indicator-text {
    @apply left-full top-1/2 -translate-y-1/2 translate-x-0;
  }

  & .indicator-wrapper.reverse .slider-thumb-indicator-text {
    @apply bottom-auto left-auto right-full top-1/2 -translate-y-1/2 translate-x-0;
  }
}
