input[type='range'].par-input-range {
  /* add 20px to align dot in center thumb */
  @apply pointer-events-none absolute z-10 h-0.5 w-[calc(100%+20px)] appearance-none bg-transparent;
}

input[type='range'].par-input-range:focus {
  /* change forcus to thumb */
  @apply outline-none;
}

/* from figma and not use @apply for ::-webkit- */
input[type='range'].par-input-range::-webkit-slider-thumb {
  pointer-events: auto;
  height: 1.25rem;
  width: 1.25rem;
  cursor: grab;
  appearance: none;
  transition: background-color 0.2s ease-in-out;
  border-radius: 9999px;
  border: 2px solid var(--par-color-border-slider-thumb-enabled, #ababab);
  background: var(--par-color-bg-slider-thumb-enabled, #fff);
  box-shadow: 3px 1px 6px 0px var(--par-color-effect-shadow, rgba(0, 0, 0, 0.1));
}

input[type='range'].par-input-range::-webkit-slider-thumb:hover {
  box-shadow: 0px 0px 0px 8px var(--par-color-bg-slider-state-layer-hovered, rgba(203, 203, 203, 0.25));
}

input[type='range'].par-input-range:focus::-webkit-slider-thumb {
  outline: 2px solid;
}

input[type='range'].par-input-range::-webkit-slider-thumb:active {
  cursor: grabbing;
}

/* FIREFOX */
/* from figma and not use @apply for ::-webkit- */
input[type='range'].par-input-range::-moz-range-thumb {
  pointer-events: auto;
  height: 1.25rem;
  width: 1.25rem;
  cursor: grab;
  appearance: none;
  transition: background-color 0.2s ease-in-out;
  border-radius: 9999px;
  border: 2px solid var(--par-color-border-slider-thumb-enabled, #ababab);
  background: var(--par-color-bg-slider-thumb-enabled, #fff);
  box-shadow: 3px 1px 6px 0px var(--par-color-effect-shadow, rgba(0, 0, 0, 0.1));
}

input[type='range'].par-input-range::-moz-range-thumb:hover {
  box-shadow: 0px 0px 0px 8px var(--par-color-bg-slider-state-layer-hovered, rgba(203, 203, 203, 0.25));
}

input[type='range'].par-input-range:focus::-moz-range-thumb {
  outline: 2px solid;
}

input[type='range'].par-input-range::-moz-range-thumb:active {
  cursor: grabbing;
}

.slider {
  @apply relative z-0 flex h-fit w-full max-w-80 flex-col items-center justify-center;
}

.slider-track {
  @apply relative z-[1] h-2 w-full rounded-md bg-[var(--par-color-border-slider-track-enabled)];
}

.slider-progress {
  @apply absolute h-2 rounded-md bg-[var(--par-color-border-slider-progress-neutral-enabled)];
}

.slider-marks {
  @apply absolute top-0 z-[2] h-full w-full;
}

.slider-marks-item {
  @apply pointer-events-none absolute left-auto top-0 h-full w-1 rounded-full;
}

.slider-dot {
  @apply pointer-events-none absolute top-1/2 h-1.5 w-1 -translate-y-1/2 rounded-full;
}

.slider-dot.in-range {
  @apply bg-[var(--par-color-border-slider-discrete-neutral-active)];
}

.slider-dot.out-range {
  @apply bg-[var(--par-color-border-slider-discrete-neutral-enabled)];
}

.slider-label {
  @apply absolute left-1/2 top-3 -translate-x-1/2 select-none text-xs;
}

.indicator-wrapper {
  @apply absolute bottom-1/2 left-1/2 z-[3] h-12 w-12 -translate-x-1/2 translate-y-1/2;
}

.indicator-wrapper:not(.reverse) .slider-thumb-indicator-text {
  @apply text-label-02 absolute left-1/2 top-full -translate-x-1/2 select-none font-medium text-[var(--par-color-text-primary)];
}

.indicator-wrapper.reverse .slider-thumb-indicator-text {
  @apply text-label-02 absolute bottom-full left-1/2 -translate-x-1/2 select-none font-medium;
}

/* Styles for the vertical slider component */
.slider-vertical {
  @apply h-80 max-h-80 w-2;

  & .slider-track {
    @apply h-full w-2;
  }

  & .slider-progress {
    @apply absolute w-2 rounded-md;
  }

  & input[type='range'].par-input-range {
    @apply h-[calc(100%+16px)] w-0.5;
    writing-mode: vertical-rl !important;
    direction: rtl !important;
  }

  & .slider-marks {
    @apply absolute h-full w-full;
  }

  & .slider-marks-item {
    @apply left-0 top-auto h-1 w-full;
  }

  & .slider-dot {
    @apply left-1/2 h-1 w-1.5 -translate-x-1/2;
  }

  & .slider-label {
    @apply left-6 top-1/2 -translate-y-1/2;
  }

  & .indicator-wrapper:not(.reverse) .slider-thumb-indicator-text {
    @apply left-full top-1/2 -translate-y-1/2 translate-x-0;
  }

  & .indicator-wrapper.reverse .slider-thumb-indicator-text {
    @apply bottom-auto left-auto right-full top-1/2 -translate-y-1/2 translate-x-0;
  }
}
